<h2>Please verify you're human</h2>

<form action="<%= turnstile_verify_path %>" method="POST">
  <input type="hidden" name="return_to" value="<%= params[:return_to] %>">
  <div class="cf-turnstile" data-sitekey="0x4AAAAAABAxrgLM4Ad1f_lk"></div>
  <input type="submit" value="Verify">
</form>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
