<div id="cf-turnstile"></div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" async defer></script>
<script>
window.onloadTurnstileCallback = function() {
  const urlParams = new URLSearchParams(window.location.search);
  const returnTo = urlParams.get('return_to');

  turnstile.render('#cf-turnstile', {
    sitekey: '0x4AAAAAABAxrgLM4Ad1f_lk',
    callback: function(cf_turnstile_token) {
      fetch('/turnstile_verify', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
        body: JSON.stringify({ cf_turnstile_token: cf_turnstile_token })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          if (returnTo) {
            window.location.href = returnTo;
          } else {
            window.location.href = '/';
          }
        } else {
          alert('Verification failed. Please try again.');
        }
      });
    }
  });
};
</script>