<div class="page-header">
  <h1>About the AAPB</h1>
</div>

<div class="row">
	<div class="col-md-8">

		<p>The American Archive of Public Broadcasting, a collaboration between WGBH and the <a href="http://www.loc.gov/avconservation/" title="Library of Congress" target="_blank">Library of Congress</a> (Library), was instituted in 2013 with a long-term vision to identify, preserve, and make accessible as much as possible the historical record of publicly funded broadcasting in America. The <a href="http://americanarchiveinventory.org/" title="American Archive Content Inventory" target="_blank">American Archive Content Inventory</a> project (AACIP) was an initiative funded by the <a href="http://americanarchive.org/about-the-american-archive/cpb.org" title="Corporation for Public Broadcasting" target="_blank">Corporation for Public Broadcasting</a> (CPB), in which approximately 120 public broadcasting entities surveyed their holdings and created 2.5 million inventory records. CPB funded the digitization and preservation of 40,000 hours of content identified in the AACIP as the initial preservation effort of the AAPB.  In addition, CPB has funded WGBH and the Library for two years until September 2015 to complete the digitization project, incorporate the digital files into the Library collection, develop a website for the public to view the inventory records and the proxies from the digital files when rights permit, and develop a sustainability plan to support the American Archive of Public Broadcasting into the future.</p>

		<br />

		<h2>Mission and Vision</h2>

		<h3>Vision Statement</h3>

		<p>The American Archive of Public Broadcasting seeks to preserve and make accessible significant historical content created by public media, and to coordinate a national effort to preserve significant at-risk public media before its content is lost to posterity.</p>

		<br />

		<h3>Mission Statement</h3>

		<p>The American Archive of Public Broadcasting seeks to:</p>

		  
		 <ul>
		   <li>Become a focal point for discoverability of historical public media content;</li>
		   <li>Coordinate a national effort to preserve and make accessible as much significant public broadcasting materials as possible;</li>
		   <li>Encourage coordinated participation by providing content creators in the public media system with standards and best practices, guidance, training, and advice for storing, processing, preserving, and making accessible their historical content, and for raising funds in order to accomplish these tasks;</li>
		   <li>Disseminate content widely by facilitating the use of and access to archival public media content by scholars, educators, students, journalists, media producers, researchers, and the public, for the purpose of learning, informing, and teaching;</li>
		   <li>Raise the archive’s profile by increasing public awareness of the significance of historical public media and the need to preserve and make accessible significant public broadcasting programs;</li>
		   <li>Ensure the perpetuation of the archive by working toward financial sustainability.</li>
		</ul>

	</div>
	<div class="col-md-4"> 

		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/amarchivepub" data-widget-id="565984855222407168">Tweets by @amarchivepub</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		
	</div>
</div>
  