<div class="page-header">
	<h1>About the AAPB</h1>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Left Column -->
    <div class="col-md-3 column">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-about">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h4>About Us</h4>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="nav-about">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">About the AAPB <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Board &amps; Committees</a></li>
              <li><a href="#">Funding</a></li>
              <li><a href="#">History</a></li>
              <li><a href="#">Policies</a></li>
              <li><a href="#">Staff</a></li>
              <li><a href="#">Strategic Plan</a></li>
              <li><a href="#">Projects</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      
    </div>
    <!-- END: Left Column -->

  	<!-- START: Main Column -->
    <div class="col-md-9">

    	<p>The American Archive of Public Broadcasting, a collaboration between <a href="http://openvault.wgbh.org" target="_blank" title="WGBH">WGBH</a> and the <a href="http://www.loc.gov/avconservation/">Library of Congress</a> (Library), was instituted in 2013 with a long-term vision to identify, preserve, and make accessible as much as possible the historical record of publicly funded broadcasting in America. The American Archive Content Inventory Project (AACIP) was an initiative funded by the <a href="http://cpb.org" target="_blank" title="Corporation for Public Broadcasting">Corporation for Public Broadcasting</a> (CPB), in which approximately 120 public broadcasting entities surveyed their holdings and created 2.5 million inventory records. CPB funded the digitization and preservation of 40,000 hours of content identified in the AACIP as the initial preservation effort of the AAPB.  In addition, CPB has funded WGBH and the Library for two years until September 2015 to complete the digitization project, incorporate the digital files into the Library collection, develop a website for the public to view the inventory records and the proxies from the digital files when rights permit, and develop a sustainability plan to support the American Archive of Public Broadcasting into the future.</p>
      
      <br />

    	<h2>Vision Statement</h2>

    	<p>The American Archive of Public Broadcasting seeks to preserve and make accessible significant historical content created by public media, and to coordinate a national effort to preserve significant at-risk public media before its content is lost to posterity.</p>

      <br />


    	<h2>Mission Statement</h2>

    	<ul>
  			<li>Become a focal point for discoverability of historical public media content;</li>
  			<li>Coordinate a national effort to preserve and make accessible as much significant public broadcasting materials as possible;</li>
  			<li>Encourage coordinated participation by providing content creators in the public media system with standards and best practices, guidance, training, and advice for storing, processing, preserving, and making accessible their historical content, and for raising funds in order to accomplish these tasks;</li>
  			<li>Disseminate content widely by facilitating the use of and access to archival public media content by scholars, educators, students, journalists, media producers, researchers, and the public, for the purpose of learning, informing, and teaching;</li>
  			<li>Raise the archive’s profile by increasing public awareness of the significance of historical public media and the need to preserve and make accessible significant public broadcasting programs;</li>
  			<li>Ensure the perpetuation of the archive by working toward financial sustainability.</li>
  		</ul>

    </div>
    <!-- END: Main Column -->

  
  </div>
</div><!-- END: Row -->