<h1>Contact Us</h1>

<p>Please contact us with any questions about the AAPB project using the form below or by directly contacting project staff:</p>

<p>Contact the <b>WGBH Staff</b> with questions from participants and questions regarding access, cataloging, and the website:</p>

<p>Karen Cariani<br/>
Project Director<br/>
Director, WGBH Media Library &amp; Archives<br/>
WGBH Educational Foundation<br/>
karen_cariani@wgbh.org<br/>
617–300-4286</p>

<p>Casey E. Davis<br/>
Project Manager, American Archive of Public Broadcasting<br/>
casey_davis@wgbh.org<br/>
617–300-5921</p>

<p>Sadie Roosa<br/>
Station Outreach &amp; Metadata<br/>
WGBH Educational Foundation<br/>
sadie_roosa@wgbh.org<br/>
617–300-2668</p>

<p>Contact the <b>Library of Congress Staff</b> with questions regarding preservation:</p>

<p>Alan Gevinson<br/>
Project Director<br/>
Library of Congress<br/>
agev@loc.gov<br/>
202–707-0582</p>

<p>Lauren Sorensen<br/>
Digital Conversion Specialist<br/>
Library of Congress<br/>
lsor@loc.gov<br/>
202–707-0929</p>