<div class="page-header">
  <h1>Contact Us</h1>
</div>

<div class="row">


  <!-- START: Main Column -->
  <div class="col-md-8 col-md-push-4">

    <p>Please contact us with any questions about the AAPB project using the form below or by directly contacting project staff:</p>

    <p>Contact the <strong>WGBH Staff</strong> with questions from participants and questions regarding access, cataloging, and the website:</p>




    <!-- Nested Rows -->
    <div class="row">
      <div class="col-md-4">

        <h3>Karen Cariani</h3>
        <h4>
          Project Director<br />
          Director, WGBH Media Library &amp; Archives
        </h4>
        <p>WGBH Educational Foundation</p>
        <p>
          <a href="mailto:karen_cariani@wgbh.org" title="Contact Karen Cariani">karen_cariani@wgbh.org</a><br />
          617–300-4286
        </p>

      </div>
      <div class="col-md-4">

        <h3>Casey E. Davis</h3>
        <h4>Project Manager</h4>
        <p>American Archive of Public Broadcasting</p>
        <p>
          <a href="mailto:casey_davis@wgbh.org" title="Contact Casey E. Davis">casey_davis@wgbh.org</a><br />
          617–300-5921
        </p>

      </div>
      <div class="col-md-4">

        <h3>Sadie Roosa</h3>
        <h4>Station Outreach &amp; Metadata</h4>
        <p>WGBH Educational Foundation</p>
        <p>
          <a href="mailto:sadie_roosa@wgbh.org" title="Contact Sadie Roosa">sadie_roosa@wgbh.org</a><br />
          617–300-4286
        </p>

      </div>
    </div>
    <!-- END: Nested Rows -->

    <br />




    <h4>Contact the <b>Library of Congress Staff</b> with questions regarding preservation:</h4>

    <!-- Nested Rows -->
    <div class="row">
      <div class="col-md-4">

        <h3>Alan Gevinson</h3>
        <h4>Project Director</h4>
        <p>Library of Congress</p>
        <p>
          <a href="mailto:agev@loc.gov" title="Contact Alan Gevinson">agev@loc.gov</a><br />
          202–707-0582
        </p>

      </div>
      <div class="col-md-4">

        <h3>Lauren Sorensen</h3>
        <h4>Digital Conversion Specialist</h4>
        <p>Library of Congress</p>
        <p>
          <a href="mailto:lsor@loc.gov" title="Contact Lauren Sorensen">lsor@loc.gov</a><br />
          202–707-0929
        </p>

      </div>
      <div class="col-md-4"></div>
    </div>
    <!-- END: Nested Rows -->




  </div>
  <!-- END: Main Column -->

  <!-- START: Right Column -->
  <div class="col-md-4 col-md-pull-8 column">

    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/amarchivepub" data-widget-id="570658195291774976">Tweets by @amarchivepub</a>
    <script>!function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                    }
                  }(document, "script", "twitter-wjs");</script>

  </div>
  <!-- END: Right Column -->

</div>
>>>>>>> prettyuistuff
