<h1>Email List</h1>
					
<p><a href="http://groups.google.com/group/american-archive">Join the American Archive email list</a> to stay up to date on project progress and receive updates in your inbox.</p>

<p>We are using Google Groups as our mailing list service. You will need a Google Account to join, but email messages can be directed to non-Google email accounts.</p>

<p>To join, go to <a href="http://groups.google.com/group/american-archive">http://groups.google.com/group/american-archive</a> and click on “Sign in and Apply for Membership.”</p>

<p>To unsubscribe from the group, click on the “Edit my membership” link on the right side of the page, then click the “Unsubscribe” button.</p>

<p>If you have any questions please feel free to <a href="/contact-us/">contact us</a> or email casey_davis@wgbh.org.</p>