<div class="page-header">
  <h1>Email List</h1>
</div>

<div class="row">

  <!-- START: Main Column -->
  <div class="col-md-8 col-md-push-4">

    <div class="panel panel-primary">
      <div class="panel-heading">Join the American Archive Email List</div>
      <div class="panel-body">
        <p>Stay up to date on project progress and receive updates in your inbox.</p>
        <p><a href="http://groups.google.com/group/american-archive" target="_blank" title="American Archive Email List" class="btn btn-lg btn-success" role="button">Sign Up Now</a></p>

      </div>
    </div>

    <p>We are using Google Groups as our mailing list service. You will need a Google Account to join, but email messages can be directed to non-Google email accounts.</p>

    <p>To join, go to <a href="http://groups.google.com/group/american-archive" target="_blank">http://groups.google.com/group/american-archive</a> and click on “Sign in and Apply for Membership.”</p>

    <p>To unsubscribe from the group, click on the “Edit my membership” link on the right side of the page, then click the “Unsubscribe” button.</p>

    <p>If you have any questions please feel free to <a href="/contact-us/">contact us</a> or email <a href="mailto:casey_davis@wgbh.org" title="Contact Casey E. Davis">casey_davis@wgbh.org</a></p>


  </div>
  <!-- END: Main Column -->

  <!-- START: Right Column -->
  <div class="col-md-4 col-md-pull-8 column">

    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/amarchivepub" data-widget-id="570658195291774976">Tweets by @amarchivepub</a>
    <script>!function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                    }
                  }(document, "script", "twitter-wjs");</script>

  </div>
  <!-- END: Right Column -->

</div>
