<!-- Search Help Modal -->
<div class="search-modal modal fade " id="searchHelpModal" role="dialog">
  <div class="modal-dialog search-modal-dialog">

    <!-- Modal content-->
    <div class="modal-content search-modal-content">
      <div class="modal-header search-modal-header">
        <h4 class="modal-title search-modal-title">Need Help Searching?</h4>
        <button type="button" class="close search-modal-close" data-dismiss="modal">&#9747;</button>
      </div>
      <div class="modal-body search-modal-body">
        <%= @special_collection.help_html.html_safe %>
      </div>
    </div>
  </div>
</div>
