<div class="gallery-header gallery-header-bg-img">
  <h1>Resources</h1>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 gallery-intro">
          <p><strong>Resources will be available soon!</strong></p>
          <p>The American Archive of Public Broadcasting (AAPB) has an active community of producers, educators, librarians, staff, and advisory committee members who value the educational use of historic public radio and television content. Members of this community and AAPB staff have created various resources that help demonstrate the use of AAPB materials in educational settings. A forthcoming 'Resources' page will provide a central location for access to these materials, including sharable pdfs, informational webinars, and instructional guides. Please check back again soon!</p>
        </div>
      </div>

    </div>
    <!-- END: Main Column -->

  </div>
</div>