/* Basic Modal */

.basic-modal-content{
  overflow: auto;

  .basic-modal-title {
    color: #fff;
    border: none;
    font-size: 36px;
    font-weight: lighter;
    line-height: 58px;
    padding: 0 0 0 63px;
    margin: 0;
    width: 90%;
    float: left;
  }

  .basic-modal-close {
    color: #fff;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    opacity: 1;
    width: 10%;
    float: right;
    padding: 0 20px 0 0;
    .basic-modal-close:hover, .basic-modal-close:focus{
      color: #fff;
    }
  }

  .basic-modal-header {
    margin-top: 20px;
    height: 58px;
    padding: 0;
    background: rgb(48,31,114);
    background: -webkit-linear-gradient(rgb(139,23,139), rgb(48,31,114)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(139,23,139), rgb(48,31,114)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(139,23,139), rgb(48,31,114)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(139,23,139), rgb(48,31,114)); /* Standard syntax */
  }

  .basic-modal-body {
    padding: 43px 63px;
  }
}

.basic-modal {
  text-align: center;
  padding: 0!important;
}

.basic-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.basic-modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}