#documents {
  .document {
    border-bottom: none;
  }
}

#facet-panel-collapse h3.panel-title {
  font-weight: bold;
}

#facets h2 {
  color: #fff;
  margin: 0;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.2em
}
