#documents {
  .document {
    border-bottom: none;
  }
}

#facet-panel-collapse h3.panel-title {
  font-weight: bold;
}

#facets h3 {
  color: #fff;
  margin: 0;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.2em
}

ul.facet-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.facet-values {
  margin-top: 1.5em;
}

.panel {
  background-color: transparent;
  border: none;
  margin: 0;
}
