#documents {
  .document {
    border-bottom: none;
  }
}

#facet-panel-collapse h3.panel-title {
  font-weight: bold;
}

#facets h3 {
  color: #292d70;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

ul.facet-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.facet-values {
  padding: 0px 15px;
}

.facet-values .facet-label {
  padding: 6px 15px;
}

.panel {
  background-color: transparent;
  border: none;
  margin: 0;
}
