.videocontent {
  padding: 20px !important;
}

.exhibit-index {

  .thumbnail {
    height: 350px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }
}

.exhibit-interior-color-section h3 {
  display: block;
  width: 100vw;
  clear: both;
}

#exhibit-main iframe {
  width: 100%;
  min-height: 97vh;
  height: 97vh;
}

#exhibit-main iframe.exhibit-small-iframe, #collection-main iframe.exhibit-small-iframe, #exgal-main iframe.exhibit-small-iframe {
  width: 100%;
  height: auto;
  min-height: auto;
  aspect-ratio: 16 / 9;
}

#exgal-main iframe.exhibit-small-iframe {
  margin-top: 2vh;
}

#exgal-modal-viewer iframe.exhibit-small-iframe {
  width: 100%;
  min-height: 68vh;
  height: 68vh;
}

#exhibit-main iframe.exhibit-small-iframe.four-three, #collection-main iframe.exhibit-small-iframe.four-three {
  aspect-ratio: 4 / 3;
}

@media only screen and (min-width: 992px) {
  #exhibit-main iframe.exhibit-small-iframe, #collection-main iframe.exhibit-small-iframe {
    max-width: 80%;
    margin-left: 10%;
  }
}

.exhibit-image {
  float: right;
  padding: 0 5px;
}

table.full-width {
  width: 100%;
}

table.full-width caption {
  float: left;
  width: 50%;
  margin-left: 25%;
}

table.exhibit-image.half-image {
  max-width: 50%;
  margin: 0 0 0 1.5em;
}

table.exhibit-image.small-image {
  max-width: 20%;
  margin: 0 0 0 1.5em;
  max-height: 20em;
}

table.exhibit-image.small-image img {
  max-height: 20em;
}

table.exhibit-image.center-image {
  max-width: 100%;
  width: 100%;
  margin-left: 36% !important;
  max-height: 20em;
}

table.exhibit-image.center-image img {
  max-height: 20em;
}

table.exhibit-image.med-image {
  text-align: center;
  display: inline-block;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 6vh !important;
  padding-left: 35%;  
}
table.exhibit-image.med-image img {
  max-height: 20em;
  max-width: 20em;
  padding: 0;
}
table.exhibit-image.med-image caption {

  padding: 0;
}

table.exhibit-image.medlarge-image {
  text-align: center;
  display: inline-block;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 6vh !important;
  padding-left: 30%;  
}
table.exhibit-image.medlarge-image img {
  min-width: 30em;
  max-height: 30em;
  max-width: 30em;
  padding: 0;
}
table.exhibit-image.medlarge-image caption {

  padding: 0;
}

table.exhibit-image.med-image-tall {
  max-width: 36%;
  margin: 0 0 0 1.5em;
  max-height: 30em;
}

table.exhibit-image.med-image-tall img {
  max-height: 30em;
}

table.exhibit-image.left {
  float: left;
  margin: 0 1.5em 0 0;
}

table.exhibit-image.short-image {
  margin: 0;
}

table.exhibit-image.short-image tr td img {
  /*oh boy!*/
  width:  75%;
  margin-left: 10%;
  margin-right: 10%;
}

.exhibit-logo {
  float: right;
  margin: 0;
  padding: 0;
}

table.exhibit-image.big-image {
  display: block;
  width: 100%;
}

table.exhibit-image.big-image img {
  width:  80vw;
}

.exhibit-caption {
  text-align: center;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
}

.exhibit-index-title {
  font-size: 24px !important;
}

.exhibit-breadcrumb {
  margin-top: -18px;
}

/* new */
#main-toggle {
  font-size: 14px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.right-justify {
  text-align: right;
}

.exhibit-color {
  color: #c01d28;
}

.exhibit-color-section {
  color: #9d2064;
}

a.exhibit-color:link, a.exhibit-color:visited {
  color: #c01d28 !important;
}

a.exhibit-color-section:link, a.exhibit-color-section:visited {
  color: #9d2064 !important;
}

a.exhibit-color:hover {
  color: #9d2064;
  text-decoration: none;
}

.exhibit-hover {
  color: #9d2064;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.exhibit-main h3 {
  font-size: 20px;
  margin-bottom: 0.5em;
}

.exhibit-main p {
  font-size: 14px;
}

#exhibit-main {
  display: block;
}

.exhibit-interior-color a, .exhibit-interior-color a:link, .exhibit-interior-color a:visited, .exhibit-interior-color h3 {
  color: #c01d28;
}

.exhibit-interior-color-section a, .exhibit-interior-color-section a:link, .exhibit-interior-color-section a:visited, .exhibit-interior-color-section h3 {
  color: #9d2064;
}

#exgal-main  {
  margin-left: 0;
  margin-right: 0;
}

.exgal-main-margin {
  margin-left: 4%;
}

#exgal-popup div.player section {
  margin-left: auto;
  margin-right: auto;
}

.exgal-popups {
  width: 100%;
}

.exgal-font {
  font-size: 14px;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.exgal-caption {
  word-break: break-word;
  font-size: 0.8rem;
  margin: 4%;
  margin-top: 1%;
  line-height: 1.6em;
}
.exgal-modal-title {
  margin-top: 4%;
}

.exgal-modal-caption {
  font-size: 0.8rem;
  margin: 4%;
  margin-left: 0%;
  margin-top: 1%;
  line-height: 1.6em;
}

.exgal-button:hover {
  color: #999;
}


.exgal-nav-font {
  font-size: 0.8rem;
  color: #000;
}

.exgal-nav {
  margin-right: 4%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.exgal-container {
  overflow: contain;
  background-color: #ddd;
}

.exrec-container {
 background-color: #F0F;
}

.exgal-record {
  margin: 4%;
}

.exhibit-show-breadcrumb {

  background-color: #FFF;
  font-size: 14px;
}

.exhibit-show-breadcrumb  a, .exhibit-show-breadcrumb  a:hover, .exhibit-show-breadcrumb a:visited {

  background-color: #FFF;
  font-size: 14px;
}

#exhibit-sidebar-row {
  margin-top: 1.2%;
  min-height: 3.1em;
}

div.gallery-thumbnail a {
  span:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.exhibit-header {
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/americanarchive.org/exhibits/assets/exhibits_red_bar.png");
  max-width: 1172px;
  h1 {
    padding-left: 22px;
    font-size: 36px;
    font-weight: lighter;
    line-height: 52px;
    color: #fff;
    margin: 0;
  }
}

h3.exhibit-title {
  margin-bottom: 0;
}

/*section menu*/
#exhibit-section-menu {
  font-size: 16px;
  padding: 2%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  position: absolute;
  width: 90%;

  ul, li {
    background-color: #fff !important;
    list-style: none;
    margin: 0;
    z-index: 1;
  }

  li {
    top: -20px;
    text-align: left;
    margin-right: 8%;
    /*padding: 2%;*/
  }

  li.item:hover {
    background-color: #ddd !important;
    color: #9d2064;
  }
}

li.small-font {
  font-size: 14px;
}

.exhibit-notes {
  margin-top: 8%;
  padding: 4%;
  background-color: #eee;
  border: 1px solid #bbb;
}

.exhibit-notes a, .exhibit-notes a:link, .exhibit-notes a:visited {
  color: #58595B;
  text-decoration: none;
}

#exhibit-section-head {
  /*margin-left: 8%;*/
  font-weight: bold;
}

.exhibit-section-margin {
  margin-bottom: 4%;
}

.exhibit-section-container {
  width: 100%;
}

.exhibit-section-disabled {
  background-color: #ddd;
}

.hide {
  display: none;
}


#exhibit-sections {
  a.section {
    float: right;
    text-decoration: none;
  }
  a.section-black {
    color: #000;
  }
}

#exhibit-sections-bar-title {
  margin-left: 1em;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.exhibit-sections-bar {
  background-color: #ddd;
}

.exhibit-section {
  background-size: cover;
  width: 100%;
  padding-bottom: 25%;
}

.author-img {
  border-radius: 50% !important;
}

.author-txt h4 {
  margin-bottom: 0;
}

.author-imgcon {
  width: 33%;
}

.curator-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0.8em;
  margin-bottom: 0%;
}


.exgal-modal-leftpane {
  background-color: #000;
}

.exgal-player-container {
  overflow: hidden;
}

.exhibit-player {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

#exgal-item-viewer .exgal-player-container section {
  padding: 0 !important;
}

#exgal-modal-viewer .exgal-asset_url {

  margin: 4%;

}

#exgal-modal-viewer .exgal-player-container {
  position: relative;
}

#exgal-modal-viewer .exgal-player-container section {
  height: 68vh;
  width: 90.666vh;
  padding: 0 !important;
}

#exgal-item-viewer .exgal-player-container section div.video-js {
  top: 0;
  width: 100%;
  padding-bottom: 75%;
  height: auto;

}

#exgal-modal-viewer .exgal-player-container section div.video-js {
  position: relative;
  top: 0;
  right: 0;
  width: 90.666vh;
  height: 68vh;

}

#exgal-modal-viewer .exgal-player-container.exgal-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#exgal-modal-viewer .exgal-modal-height {
  min-height: 68vh;
  max-height: 68vh;
  height: 68vh;
}

.exgal-player-container.exgal-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.exgal-modal-height {
  /*min-height: 100%;
  max-height: 100%;
  height: 100%;*/

  min-height: 18em;
  /*display: flex;*/
}

.modal-content {
  border: 0;
  margin-top: 20vh;
  min-height: 68vh !important;
  height: 68vh !important;
}

#exgal-modal-nav {
  border: none;
  margin-left: 6%;
  /*position: absolute;*/
  width: 160px;
  height: 10px;
}

#exgal-fullscreen-button {
  z-index: 20;
  background-image: url('https://s3.amazonaws.com/americanarchive.org/exhibits/assets/fullscreen.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  width: 2em;
  height: 2em;
}

.breadcrumb > li + li:before {
    color: #c55;
    content: "◄ ";
    padding: 0 5px;
}

.breadcrumb a {
    color: #c55;
    /*content: "◄ ";*/
    /*padding: 0 5px;*/
}

.resource-link {
  font-size: 18px;
  /*line-height: 12px;*/
}

.exhibit-records-link {
  width:  100%;
  position: absolute;
  padding: 2%;
  margin-bottom: 5%;
}

.exhibit-records-link a {
  display: block;
}

.exhibit-records-icon {
  top: 0.4em;
  position: absolute;
}

.exhibit-records {
  background-color: #c01d28;
}

.exhibit-records-section {
  background-color: #9d2064;
}

a.exhibit-records:link, a.exhibit-records:visited, a.exhibit-records-section:link, a.exhibit-records-section:visited {
  color: #fff !important;
}

.icon-size {
  max-height: 0.7em;
  height: 0.7em;
  min-height: 0.7em;
  max-width: 0.7em;
  width: 0.7em;
  min-width: 0.7em;
}

.icon-med {
  max-height: 1em;
  height: 1em;
  min-height: 1em;
  max-width: 1em;
  width: 1em;
  min-width: 1em;
}

.icon-big {
  max-height: 1.4em;
  height: 1.4em;
  min-height: 1.4em;
  max-width: 1.4em;
  width: 1.4em;
  min-width: 1.4em;
}

#exgal-modal-close-con {
  position: relative;
}

#exgal-close-modal {
  position: absolute;
  top: 0.6vh;
}

#exgal-close-modal img {
  max-width: 3em;
}

.exhibit-cover-overlay {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 90%;
  height:38%;
  padding: 5%;
  color: #fff;
  opacity: 0.3;

}

.exhibit-cover-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 90%;
  height:38%;
  padding: 5%;
  color: #fff;
}

.white-back {
  background-color: #fff;
}

@media only screen and (max-width: 991px) {
  #exhibit-section-menu {
    width: 98%;
  }
  .exhibit-records-icon {
    top: 0.8em;
    position: absolute;
  }

  .exhibit-records-link {
    width: 98%;
    margin-top: 8%;
  }

  #exhibit-overview-title {
    margin-top: 8%;
  }

  .exgal-modal-leftpane {
    width: 100%;
    display: block;
    padding-right: 0;
    padding-left: 0;
  }

  .exgal-modal-rightpane {
    width: 100%;
    display: block;
    padding-bottom: 10%;
    background-color: #fff;
    padding-right: 0;
    padding-left: 0;
  }

  .exgal-modal-height {
    display: inherit;
  }

  .exgal-modal-title {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
  }

  .exgal-modal-caption {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
    /*margin-bottom: 6%;*/
  }

  .exgal-modal-source {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
  }

  #exgal-modal-bottom {
    background-color: #f3f;
  }

  #exgal-modal-nav {
    margin-left: 6%;
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*width: 160px;*/
    /*height: 10px;*/
  }

  #exgal-modal-close {
    width: 100%;
    height: 10em;
  }

  #exgal-modal-close-con {

    width: 3em;
    position: absolute;
  }

  .modal-content {
    margin-top: 20vh;
    min-height: 55vh !important;
  }

  .exhibit-cover-overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height:33%;
    padding: 5%;
    color: #fff;
    opacity: 0.3;

  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    margin-top: 20vh;
    min-height: 40vh !important;
  }

  #exgal-modal-close-con {

    width: 3em;
    position: absolute;
    right: 2.6em;
    bottom: -13.8em;
  }
  #exgal-modal-nav {
    margin-left: 6%;

    position: absolute;
    bottom: -16.3em;
    // width: 160px;
    // height: 10px;
  }

}

.exhibit-text {
  h4 {
    clear: both;
    margin: 1.75em 0 .75em 0;
  }
}
