.exhibit-index {

  .thumbnail {
    height: 350px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }
}

.exhibit-image {
  float: right;
  padding: 0 5px;
}

.exhibit-caption {
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
}

.exhibit-index-title {
  font-size: 24px !important;
}

.exhibit-breadcrumb {
  margin-top: -18px;
}

#main-toggle {
  font-size: 14px;
  font-weight: bold;
}

.exhibit-color {
  color: #CC5555;
}

a.exhibit-color:link, a.exhibit-color:visited {
  color: #CC5555 !important;
}

a.exhibit-color:hover {
  color: #999;
  text-decoration: none;
}

.exhibit-main h3 {
  color: #CC5555; 
  font-size: 20px;
}

.exhibit-main p {
  font-size: 14px;
}

#exgal-main  {
  margin-left: 0;
  margin-right: 0;
}

.exgal-main-margin {
  margin-left: 4%;
}

#exgal-popup div.player section {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.exgal-title {
  margin-top: 4%;
  margin-bottom: 1%;
}

.exgal-font {
  font-size: 14px;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.exgal-caption {
  word-break: break-word;
  font-size: 0.8rem;
  margin: 4%;
  margin-top: 1%;
  line-height: 1.6em;
}

.exgal-modal-caption {
  font-size: 0.8rem;
  margin: 4%;
  margin-left: 0%;
  margin-top: 1%;
  line-height: 1.6em;
}

.exgal-button:hover {
  color: #999;
}


.exgal-nav-font {
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
}

.exgal-nav {
  margin-right: 4%;
  margin-bottom: 4%;
  margin-top: 2%;
}

.exgal-container {
  overflow: contain;
  background-color: #ddd;
}

.exrec-container {
 background-color: #F0F; 
}

.exgal-record {
  margin: 4%;
}

.exgal-image {
  object-fit: cover;
}

.exhibit-show-breadcrumb {

  background-color: #FFF;
  color: #CC5555; 
  font-size: 12px;
}

.exhibit-show-breadcrumb  a, .exhibit-show-breadcrumb  a:hover, .exhibit-show-breadcrumb a:visited {

  background-color: #FFF;
  color: #CC5555; 
  font-size: 12px;
}

.exhibit-header {
  background-size: cover;
  background-image: url("/assets/exhibits_red_bar.png");
  max-width: 1172px;
  height: 60px;
  h1 {
    padding-left: 22px;
    font-size: 36px;
    font-weight: lighter;
    line-height: 60px;
    color: #fff;
    margin: 0;
  }
}

/*section menu*/
#exhibit-section-menu {
  padding: 2%;
  width: 90%;
  background-color: #fff !important;
  position: absolute;
  border: 1px solid #ccc;

  ul, li {
    background-color: #fff !important;
    list-style: none;
    margin: 0;
  }

  li {
    top: -20px;
    text-align: right;
    margin-right: 8%;
    /*padding: 2%;*/
  }

  li.item:hover {
    background-color: #ddd !important;
    color: #9d2064;
  }
}

.exhibit-notes {
  margin-top: 8%;
  padding: 4%;
  background-color: #eee;
  border: 1px solid #bbb;
}

.exhibit-sections {
  border: 1px solid #ccc;

  ul {
    list-style: none;  

  }
}

#exhibit-section-head {
  margin-left: 8%;
  font-weight: bold;
}

.exhibit-section-container {
  width: 100%;
  /*padding-bottom: 25%;*/
  /*margin-left: 2%;
  margin-right: 2%;*/
}

.exhibit-section-disabled {
  background-color: #ddd;
}

.hide {
  display: none;
}

#exhibit-sections-bar-title {
  margin-left: 1em;
  padding-top: 1em;
}

.exhibit-sections-bar {
  padding-bottom: 4%;
  background-color: #ddd;
}

.exhibit-section {
  background-size: cover;
  width: 100%;
  padding-bottom: 25%;
}

.author-img {
  border-radius: 50% !important;
}

.author-txt h4 {
  margin-bottom: 0;
}

.author-imgcon {
  width: 33%;
}

.curator-title {
  font-size: 28px; 
  font-weight: bold; 
  padding: 0.8em; 
  margin-bottom: 0%;
}

.exhibit-player {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-width: 100%;
}

.exgal-modal-height {
  min-height: 100%;
  height: 100%;
  display: flex;
}

#exgal-modal-nav {
  margin-left: 6%;
  position: absolute;
  bottom: 20px;
  width: 160px;
  height: 10px;
}

#exgal-fullscreen-button {
  z-index: 20;
  background-image: url('/assets/fullscreen.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  width: 2em;
  height: 2em;
 
}

.breadcrumb > li + li:before {
    color: #c55;
    content: "◄ ";
    padding: 0 5px;
}

.resource-link {
  font-size: 14px;
  /*line-height: 12px;*/
}

.exhibit-records-link {
  padding: 2%;
  margin-bottom: 5%;
}

.exhibit-records {
  background-color: #7D0000;
}

a.exhibit-records:link, a.exhibit-records:visited {
  color: #fff !important;
}

.icon-size {
  max-height: 0.7em;
  height: 0.7em;
  min-height: 0.7em;
  max-width: 0.7em;
  width: 0.7em;
  min-width: 0.7em;  
}

.icon-med {
  max-height: 1em;
  height: 1em;
  min-height: 1em;
  max-width: 1em;
  width: 1em;
  min-width: 1em;  
}

.icon-big {
  max-height: 1.4em;
  height: 1.4em;
  min-height: 1.4em;
  max-width: 1.4em;
  width: 1.4em;
  min-width: 1.4em;  
}