.exhibit-index {

  .thumbnail {
    height: 350px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }
}

.exhibit-image {
  float: right;
  padding: 0 5px;
}

.exhibit-caption {
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
}

.exhibit-index-title {
  font-size: 24px !important;
}

.exhibit-breadcrumb {
  margin-top: -18px;
}


.exgal-container {
  background-color: #232;
}

.exgal-record {
  background-color: #4f4;
}

.exgal-caption {
  background-color: #d2d;
}