/* Google Fonts: Roboto --------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700,700italic,500,500italic);


/*
 * CHEATING
 */

 * {
 	-webkit-border-radius:0!important; 
  -moz-border-radius:0!important; 
 	border-radius:0!important;

 	-webkit-box-shadow: none!important;
  box-shadow: none!important;
 }



/*
 * HEADER STYLES
 */
#main-container {
	padding-bottom:3em;
}

#donate {
    color: #EF3F37;
}
