/*
 * HOMEPAGE STYLES
 */

// TODO: I see at least one place where styles can be consolidated.
// Go through and DRY up selector declarations.

/* sets width for Homepage Container */
.blacklight-home {
    #main-container {
        padding-bottom:0;
        width:100%;
    }

    /* Remove border radius */
    .jumbotron {
        border-radius:0;
        margin-bottom:0;
        padding:3em 0;
    }

    /*Set .container width on Homepage Jumbotron*/
    .home-jumbotron .container {
        width:100%;
    }

    /*Intro text box for each section*/
    .intro-text {
        background-color:transparent;
        border:0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin:1em auto 2em;
        padding:0;
        width:98%;
    }

    .intro-text h2 {
        color: #fff;
        font-weight: 300;
        margin: 0;
        text-align: center;
        font-size: 3.75em;
    }


    /* Sticky Nav on the Homepage --------- */
    #homenav {
        background-color:transparent;
        border:none;
        left: 0;
        padding:0;
        position: absolute;
        text-align: center;
        top: 18em;
        width: 100%;
        z-index: 10;

        &.affix {
            background: url(/site-ui/aapb-site-sprite.png) repeat-x 0 0;
            background-color:rgba(24,18,40,.8);
            left:0;
            padding: 1.6em 0 .8em;
            position:fixed;
            width:100%;
            top:0;

            .aa-link {
                display:block;
            }
        }

        /*the list*/
        .nav {
            display: inline-block;
            margin: 0 auto;
            width: auto;
        }

        /*logo link*/
        .aa-link {
            display:none;

            a {
                background:#000 url(/site-ui/logo-mobile.png) no-repeat 0 0;
                background-size:44px 44px;
                display:block;
                height:44px;
                margin:0;
                padding:0;
                width:44px;
                text-indent:-9999em;
            }
        }

        /*links*/
        a {
            color:#FFF;

            &:hover {
                background-color:rgba(24,18,40,.7);
            }
        }
    }

    /* -------------------- */
    /* WELCOME PANEL ---------- */
    /* -------------------- */

    /* TODO: change to class, since we're using it twice. */
    #welcome-panel {
        background-color:rgba(255,255,255,.25);
        margin-bottom:2em;
        margin-top:2em;

        .column {
            padding:2em;
        }

        *, .btn-link:link, .btn-link:visited {
            color:#FFF;
        }

        h6 {
            font-size:.95em;
            margin:0 0 1em;
        }

        h2 {
            font-size:1.5em;
        }

        p {
            font-size:1em;
        }

    }

    #welcome .btn-group {
        border-top:1px solid #FFF;
        width:100%;
    }

    /* Home One - Welcome */
    .home-jumbotron {
        background-image:none;
        background-position:center top;
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;
        overflow:hidden;

        .container {
            position:relative;
            z-index:2;
        }

        /* Info on this technique can be found here - http://css-tricks.com/snippets/css/transparent-background-images/ */
        &:after {
            content: "";
            left:0;
            min-height:75em;
            position:absolute;
            top:0;
            width:100%;
            z-index:1;
        }

        &:first-of-type {
          /* The non-first ones are given extra padding above to make space for the
          floating menu. This is an override, because the first jumbotron just has
          an in-place menu: It's only in the lower sections that this matters. */
          padding: 2em 1em;
        }
    }

    /* Home Jumbotron - Welcome */
    #welcome {
        background-color:rgb(60,67,155);
        background-image:none;
        &:after { background-color:rgba(60,67,155,.85); }
    }


    /* Home Jumbotron - Contributing Stations */
    #stations {
        background-color:rgb(239,63,55);
        background-image:none;
        &:after { background-color:rgba(239,63,55,.85); }
    }

    /* Home Jumbotron - Featured Collections */
    #collections {
        background-color:rgb(159,32,100);
        background-image:none;
        &:after { background-color:rgba(159,32,100,.85); }
    }

    /* Home Jumbotron - Browse */
    #browse {
        background-color:rgb(144,41,142);
        background-image:none;
        &:after { background-color:rgba(144,41,142,.85); }
    }

    /* Home Jumbotron - Video */
    #video {
        background-color:rgb(158,32,100);
        background-image:none;
        &:after { background-color:rgba(158,32,100,.85); }
    }

    /* Home Jumbotron - Curated Exhibits */
    #exhibits {
        background-color:rgb(44,42,115);
        background-image:none;
        &:after { background-color:rgba(44,42,115,.85); }
    }

    /*Browse THe Collection*/
    .browsable ul a {
        transition: all .1s ease-in-out;
        background-color:rgba(255,255,255,.25);
        text-align: center;
        color:#FFF;
        display:block;
        margin:0 0 1px;
        padding:.5em;
        &:hover {
            background-color:rgba(255,255,255,.1);
            text-decoration:none;
            transform: scale(1.2);
        }
    }



    /* -------------------- */
    /* BREAKPOINTS ---------- */
    /* -------------------- */


    /* Tablet ---------- */
    @media (min-width: 768px) {

        /* Remove border radius */
        .jumbotron {
            padding:5em 1em 2em 1em;
            #welcome {
                padding: 2em 1em;
            }
        }

        /*Reduce tagline font-size on smaller devices*/
        #welcome h2.tagline {
            font-size: 1.4em;
        }

        /*Set .container width on Homepage Jumbotron*/
        .home-jumbotron .container {
            width:960px;
        }

        /* FLoating Navigation on Homepage */
        #homenav {
            top: 16em;
        }

        /*Intro text box for each section*/
        .intro-text {
            width:80%;
        }

        /* -------------------- */
        /* WELCOME PANEL ---------- */
        /* -------------------- */

        #welcome-panel .list-group-item {
            margin:0 1%;
            min-height:320px;
            padding:3%;
            width:48%;
            h3 {
                font-size:1.8em;
            }
            p {
                font-size:1.2em;
            }
        }

        #welcome-panel h4 {
            font-size: .95em;
            font-weight: 500;
            line-height: 1.4em;
            margin-bottom: 1em;
            text-transform: uppercase;
        }


    }/* END: Tablet ---------- */

    /* Desktop ---------- */
    @media (min-width: 992px) {
        /* Home Jumbotron - Welcome */
        #welcome {
            background-image:url(/home-bg/home-one.jpg);
        }

        /* Homepage Welcome Header */
        #welcome h2.tagline {
            text-align: center;
            color: #fff;
            font-size:1.8em;
            font-weight: 300;
            margin: 0 auto 3em;
        }

        /* Home Jumbotron - Contributing Stations */
        #stations {
            background-image:url(/home-bg/home-two.jpg);
        }

        /* Home Jumbotron - Video */
        #video {
            /* TODO: a different, distinct image? */
            background-image:url(/home-bg/home-one.jpg);
        }

        /* Home Jumbotron - Featured Collections */
        #collections {
            /* TODO: a different, distinct image? */
            background-image:url(/home-bg/home-one.jpg);
        }

        /* Home Jumbotron - Browse */
        #browse {
            /* TODO: a different, distinct image? */
            background-image:url(/home-bg/home-frying-pans.jpg);
        }

        /* Home Jumbotron - Featured Collections */
        #staff {
            background-image:url(/home-bg/home-four.jpg);
        }

        /* Home Jumbotron - Curated Exhibits */
        #exhibits {
            background-image:url(/home-bg/home-three.jpg);
        }

        /* FLoating Navigation on Homepage */
        #homenav {
            top: 18em;
        }
    }/* END: Desktop ---------- */
}




