

.override-main {
  p:first-child {
    // Special handling for the banner image.
    /*margin: 0px;*/
    
    &:after {
      content: "";
      clear: both;
      height: 0;
      visibility: hidden;
      display: block;
    }
  }

  img {
    float: left;
    margin-right: 10px;
  }

  h3.spaced-h3 {
    margin-bottom: 0.2em;
  }

  p.spaced-paragraph {
    display: block;
    overflow-wrap: break-word;
    max-width: 100%;
    padding-bottom: 0.5em;
  }

  p img.left-logo {
    max-width: 100px;
  }
}

h2.override, h3.override {
  margin-top: 2%;
  margin-bottom: 2%;
}

ul.override {
  /*word-break: break-all;*/
}

span.override {
  padding: 2%;
  width: 50%;
}

h5.webinar-title {
  margin-bottom: 0.8em;
}

ul.webinar-list {
  list-style-type: none;
  margin: 0px;
  padding-left: 16px;
  margin-bottom: 1.2em;
}

ul.webinar-list li::before {
  content: '- ';
}

a.donate-button {
  background-color:#eb1a4e;
  border-radius:28px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:20px 40px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}

a.donate-button:hover {
  background-color:#fa5c5c;
}

a.donate-button:active {
  position:relative;
  top:1px;
}

        