<% content_for :sidebar do %>
  <img src="<%= @exhibit.thumbnail_url %>"/>
  
  <h2>Author</h2>
  <%= @exhibit.author_html.html_safe %>
  
  <h2>Links</h2>
  <%= @exhibit.links_html.html_safe %>
  
  TODO: view all<br/>
  TODO: search<br/>
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: { 
             title: @exhibit.name.html_safe,
             sidebar: yield(:sidebar),
             main: @exhibit.body_html.html_safe
           } %>