<% content_for :sidebar do %>
  
  TODO: What should go in the sidebar on this page?
    
<% end %>
  
<% content_for :main do %>
  
  <% @exhibits.each do |exhibit| %>
    <a href="/exhibits/<%= exhibit.path %>"><%= exhibit.name %></a>
  <% end %>
  
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 