<div class="jumbotron" id="footer" style="margin-bottom: 0px;">
  <div class="container">

    <div class="row first">
      <div class="well footer-logo">
        <img src="/site-ui/logo.png" title="The American Archive of Public Broadcasting" alt="The American Archive of Public Broadcasting" />
      </div>
    </div>

    <hr>

    <div class="row second">
      <div class="col-md-3"><!-- Column -->

        <div class="panel panel-default footer-links">
          <ul class="list-group">
            <li class="list-group-item"><a href="/about-the-american-archive">About the AAPB</a></li>
            <li class="list-group-item"><a href="/about-the-american-archive/mission-and-vision">Mission &amp; Vision</a></li>
            <li class="list-group-item"><a href="/about-the-american-archive/staff">Staff</a></li>
            <li class="list-group-item"><a href="/about-the-american-archive/projects">Projects</a></li>
            <li class="list-group-item"><a href="/about-the-american-archive/funding">Funding</a></li>
            <li class="list-group-item"><a href="/about-the-american-archive/acknowledgments">Acknowledgments</a></li>

          </ul>
        </div>

      </div><!-- END Column -->
      <div class="col-md-3"><!-- Column -->

        <div class="panel panel-default footer-links">
          <ul class="list-group">
            <li class="list-group-item"><a href="/contact-us">Contact Us</a></li>
            <li class="list-group-item"><a href="/on-location">On Location</a></li>
            <li class="list-group-item"><a href="/search">Search Help</a></li>
            <li class="list-group-item"><a href="/resources">Resources</a></li>
            <li class="list-group-item"><a href="/social-media">Social Media</a></li>
          </ul>
        </div>

      </div><!-- END Column -->
      <div class="col-md-3"><!-- Column -->

        <div class="panel panel-default footer-links">
          <ul class="list-group">
            <li class="list-group-item"><a href="/help/using-the-ams">Using the AMS</a></li>
            <li class="list-group-item"><a href="/help/obtain-metadata">Obtain Metadata</a></li>
            <li class="list-group-item"><a href="/help/submit-metadata">Submit Metadata</a></li>
          </ul>
        </div>

      </div><!-- END Column -->
      <div class="col-md-3"><!-- Column -->

        <div class="panel panel-default footer-links">
          <ul class="list-group">
            <li class="list-group-item"><a href="/legal/tou">Terms of Use</a></li>
            <li class="list-group-item"><a href="/legal/privacy">Privacy Policy</a></li>
          </ul>
        </div>

      </div><!-- END Column -->

    </div><!-- END Row -->

    <hr>

    <div class="row third">
      <div class="btn-group" role="group" aria-label="">
        <a href="/contact-us" class="btn btn-link">Contact Us</a>
        <a href="http://loc.gov/" class="btn btn-link">Library of Congress</a> 
        <a href="http://www.wgbh.org/" class="btn btn-link">WGBH</a> 
        <a href="http://cpb.org/" class="btn btn-link">Corporation for Public Broadcasting</a>
      </div>

    </div>

  </div><!-- END Container -->
</div>

<%= render partial: 'shared/analytics' %>