<div class="jumbotron" id="footer">
  <div class="container">

    <!-- Row One: Logo -->
    <div class="row one">

      <img src="/site-ui/logo.png" class="footer-logo" alt="The American Archive of Public Broadcasting" title="The American Archive of Public Broadcasting" />

    </div>
    <!-- END Row One -->

    <hr>

    <!-- Well: Footer Links -->
    <div class="well footer-links">
      <!-- Row Two: List Links -->
      <div class="row two">

        <!-- Grid Cell -->
        <div class="col-md-6 clearfix">

          <div class="panel panel-default naked-panel">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body"> -->
              <ul class="list-group">
                <li class="list-group-item"><a href="/about-the-american-archive">About the AAPB</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/mission-and-vision">Mission &amp; Vision</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/history">History</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/staff">Staff</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/funding">Funding</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/projects">Projects</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/acknowledgements">Acknowledgements</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default naked-panel">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">Resources</h3>
            </div> -->
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/contact-us">Contact Us</a></li>
                <li class="list-group-item"><a href="/help/search">Searching the Collection</a></li>
                <li class="list-group-item"><a href="/help/on-location">On Location Research</a></li>
                <li class="list-group-item"><a href="/resources">Resources</a></li>
                <li class="list-group-item"><a href="/social-media">Social Media</a></li>
              </ul>
            </div>
          </div>
          
        </div>
        <!-- END Grid Cell -->

        

        <!-- Grid Cell -->
        <div class="col-md-6 clearfix">
          
          <div class="panel panel-default naked-panel">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">For Contributing Organizations</h3>
            </div> -->
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/help/using-the-ams">Using the AMS</a></li>
                <li class="list-group-item"><a href="/help/obtain-metadata">Obtaining Metadata</a></li>
                <li class="list-group-item"><a href="/help/submit-metadata">Submitting Metadata</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default naked-panel">
            <!-- <div class="panel-heading">
              <h3 class="panel-title">Legal</h3>
            </div> -->
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/legal/tou">Terms of Use</a></li>
                <li class="list-group-item"><a href="/legal/privacy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>

        </div>
        <!-- END Grid Cell -->

      </div> <!-- END Row Two -->
    </div><!-- END Footer Links Well -->

    <hr>

    <!-- Row Three: Link Group -->
    <!-- <div class="row three">

      <div class="btn-group" role="group">
        <a href="/resources" class="btn btn-default">Resources</a>
        <a href="/resources" class="btn btn-default">Resources</a>
        <a href="/resources" class="btn btn-default">Resources</a>
        <a href="/resources" class="btn btn-default">Resources</a>
      </div>

    </div> -->
    <!-- END Row Three -->

    <!-- Row Four: Collaboration -->
    <div class="row three">

      <ul class="list-group collab">
        <li class="list-group-item loc"><a href="http://www.loc.gov/" target="_blank" title="The Library of Congress">The Library of Congress</a></li>
        <li class="list-group-item title"><h3>A<br>Collaboration<br>Between</h3></li>
        <li class="list-group-item wgbh"><a href="http://openvault.wgbh.org/" target="_blank" title="WGBH Media Library &amp; Archives">WGBH Media Library &amp; Archives</a></li>
      </ul>

    </div>
    <!-- END Row Four -->


  </div><!-- END Container -->
</div><!-- END Jumbotron -->

<%= render partial: 'shared/analytics' %>
