
<div class="jumbotron" id="footer">
  <div class="container">

    <hr>

    <!-- Foot One -->
    <div id="footone" class="panel panel-default footer-links">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">Explore by</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Contributing Organization</a></li>
        <li class="list-group-item"><a href="#">Curated Collection</a></li>
        <li class="list-group-item"><a href="#">Map</a></li>
        <li class="list-group-item"><a href="#">Timeline</a></li>
        <li class="list-group-item"><a href="#">Topic</a></li>
        <li class="list-group-item"><a href="#">Genre</a></li>
        <li class="list-group-item"><a href="#">Advanced Search</a></li>
      </ul>
    </div>
    <!-- /Foot One -->

    <!-- Foot Two -->
    <div id="foottwo" class="panel panel-default footer-links">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h2 class="panel-title">Get Involved</h2>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">On-location research</a></li>
        <li class="list-group-item"><a href="#">Donate to the AAPB</a></li>
        <li class="list-group-item"><a href="#">Facebook</a></li>
        <li class="list-group-item"><a href="#">Twitter</a></li>
        <li class="list-group-item"><a href="#">Forums</a></li>
        <li class="list-group-item"><a href="#">Submit your collection</a></li>
        <li class="list-group-item"><a href="#">For Developers</a></li>
        <li class="list-group-item"><a href="#">Blog</a></li>
        <li class="list-group-item"><a href="#">Press</a></li>
      </ul>
    </div>
    <!-- /Foot Two -->


    <!-- Foot Three -->
    <div id="footthree" class="panel panel-default footer-links">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">About Us</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Contact Us</a></li>
        <li class="list-group-item"><a href="#">Staff</a></li>
        <li class="list-group-item"><a href="#">Executive Advisory Council</a></li>
        <li class="list-group-item"><a href="#">Mission and Vision</a></li>
        <li class="list-group-item"><a href="#">Funding</a></li>
        <li class="list-group-item"><a href="#">History</a></li>
        <li class="list-group-item"><a href="#">Projects</a></li>
        <li class="list-group-item"><a href="#">Policies</a></li>
      </ul>
    </div>
    <!-- /Foot Three -->

    <!-- Foot Four -->
    <div id="footfour" class="panel panel-default footer-links">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">Help</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">For Contributing Organizations</a></li>
        <li class="list-group-item"><a href="#">FAQ</a></li>
        <li class="list-group-item"><a href="#">Glossary</a></li>
        <li class="list-group-item"><a href="#">Using our site</a></li>
        <li class="list-group-item"><a href="#">Newspapers</a></li>
      </ul>
    </div>
    <!-- /Foot Four -->

    <hr>

  </div>
</div>


