<div class="jumbotron" id="footer">
  <div class="container">

    <!-- Row One: Logo -->
    <div class="row one">
      <%= link_to application_name, root_path, class: "footer-logo" %>
    </div>
    <!-- END Row One -->

    <hr>

    <!-- Well: Footer Links -->
    <div class="well footer-links">
      <!-- Row Two: List Links -->
      <div class="row two">

        <!-- Grid Cell -->
        <div class="col-md-6 clearfix">

          <div class="panel panel-default naked-panel">


            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/about-the-american-archive">About the AAPB</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/vision-and-mission">Vision &amp; Mission</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/history">History</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/staff">Staff</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/funding">Funding</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/projects">Projects</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/executive-advisory-council">Executive Advisory Council</a></li>
                <li class="list-group-item"><a href="/about-the-american-archive/acknowledgments">Acknowledgments</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default naked-panel">
           
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/contact-us">Contact Us</a></li>
                <li class="list-group-item"><a href="/search">Searching the Website</a></li>
                <li class="list-group-item"><a href="/on-location">On Location Research</a></li>
                <li class="list-group-item"><a href="/faq">FAQ</a></li>
              </ul>
            </div>
          </div>
          
        </div>
        <!-- END Grid Cell -->

        

        <!-- Grid Cell -->
        <div class="col-md-6 clearfix">
          
          <div class="panel panel-default naked-panel">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/help/using-the-ams">Using the AMS</a></li>
                <li class="list-group-item"><a href="/help/obtain-metadata">Obtaining Metadata</a></li>
                <li class="list-group-item"><a href="/help/submit-metadata">Submitting Metadata</a></li>
                <li class="list-group-item"><a href="/resources">Resources</a></li>
                <li class="list-group-item"><a href="http://ndsr.americanarchive.org/" target="_blank">NDSR</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default naked-panel">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><a href="/legal/orr-rules">ORR Rules of Use</a></li>
                <li class="list-group-item"><a href="/legal/tou">Terms of Use</a></li>
                <li class="list-group-item"><a href="/legal/privacy">Privacy Policy</a></li>
              </ul>
              <ul class="social list-unstyled">
                <li class="blog"><a class="blog" href="https://americanarchivepb.wordpress.com/" target="_blank" title="Read the AAPB Blog">Read Our Blog</a></li>
                <li class="twitter"><a href="https://twitter.com/amarchivepub" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a></li>
                <li class="facebook"><a href="https://www.facebook.com/amarchivepub" target="_blank" title="Like us on Facebook">Like us on Facebook</a></li>
              </ul>
            </div>
          </div>

        </div>
        <!-- END Grid Cell -->

      </div> <!-- END Row Two -->
    </div><!-- END Footer Links Well -->

    <hr>

    <!-- Row Three: Collaboration -->
    <div class="row three">

      <ul class="list-group collab">
        <li class="list-group-item loc"><a href="http://www.loc.gov/" target="_blank" title="The Library of Congress">The Library of Congress</a></li>
        <li class="list-group-item title"><h3>A<br>Collaboration<br>Between</h3></li>
        <li class="list-group-item wgbh"><a href="http://openvault.wgbh.org/" target="_blank" title="WGBH Media Library &amp; Archives">WGBH Media Library &amp; Archives</a></li>
      </ul>

    </div>
    <!-- END Row Three -->


  </div><!-- END Container -->
</div><!-- END Jumbotron -->

<%= render partial: 'shared/analytics' %>
