<div class="jumbotron" id="footer" style="margin-bottom: 0px;">
  <div class="container">
    
    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/about-the-american-archive">About the AAPB</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/mission-and-vision">Mission &amp; Vision</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/staff">Staff</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/funding">Funding</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/projects">Projects</a></li>
        <li class="list-group-item"><a href="/thanks">Thanks</a></li>
      </ul>
    </div>

    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/contact-us">Contact Us</a></li>
        <li class="list-group-item"><a href="/search">Searching the Collection</a></li>
        <li class="list-group-item"><a href="/on-location">On Location Research</a></li>
        <li class="list-group-item"><a href="/resources">Resources</a></li>
        <li class="list-group-item"><a href="/social-media">Social Media</a></li>
      </ul>
    </div>

    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/help/using-the-ams">Using the AMS</a></li>
        <li class="list-group-item"><a href="/help/obtain-metadata">Obtaining Your Metadata</a></li>
        <li class="list-group-item"><a href="/help/submit-metadata">Submitting Metadata</a></li>
      </ul>
    </div>
    
    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/legal/tou">Terms of Use</a></li>
        <li class="list-group-item"><a href="/legal/privacy">Privacy Policy</a></li>
      </ul>
    </div>

  </div>
</div>