<div class="jumbotron" id="footer" style="margin-bottom: 0px;">
  <div class="container">
    
    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/about-the-american-archive">About the AAPB</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/mission-and-vision">Mission &amp; Vision</a></li>
        <li class="list-group-item"><a href="/about-the-american-archive/staff">Staff</a></li>
        <li class="list-group-item"><a href="/thanks">Thanks</a></li>
      </ul>
    </div>

    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/contact-us">Contact Us</a></li>
        <li class="list-group-item"><a href="/email-list">Email List</a></li>
        <li class="list-group-item"><a href="/social-media">Social Media</a></li>
      </ul>
    </div>

    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/resources">Resources</a></li>
        <li class="list-group-item"><a href="/help/search">Search Help</a></li>
        <li class="list-group-item"><a href="/help/on-location">On Location</a></li>
        <li class="list-group-item"><a href="/help/organizations">Help For Organizations</a></li>
      </ul>
    </div>
    
    <div class="panel panel-default footer-links">
      <ul class="list-group">
        <li class="list-group-item"><a href="/legal/tou">Terms of Use</a></li>
        <li class="list-group-item"><a href="/legal/privacy">Privacy Policy</a></li>
      </ul>
    </div>

  </div>
</div>