<footer class="jumbotron" id="footer" role="contentinfo">
  <div class="container">

    <!-- Row One: Logo -->
    <div class="row one">
      <%= link_to application_name, root_path, class: "footer-logo" %>
    </div>
    <!-- END Row One -->

    <hr>

    <!-- Well: Footer Links -->
    <nav class="well footer-links" role="navigation">
      <!-- Row Two: List Links -->
      <div class="row two">
        <%
          [
            [
              {
                '/about-the-american-archive' => 'About the AAPB',
                '/about-the-american-archive/vision-and-mission' => 'Vision & Mission',
                '/about-the-american-archive/history' => 'History',
                '/exhibits' => 'Exhibits',
                '/special_collections' => 'Special Collections',
                '/participating-orgs' => 'Organizations',
                '/about-the-american-archive/funding' => 'Funding',
                '/about-the-american-archive/projects' => 'Projects',
                '/about-the-american-archive/executive-advisory-council' => 'Executive Advisory Council',
                '/about-the-american-archive/acknowledgments' => 'Acknowledgments',
                },
              {
                '/contact-us' => 'Contact Us',
                '/advanced' => 'Advanced Search',
                '/search' => 'Searching the Website',
                '/on-location' => 'On Location Research',
                '/faq' => 'FAQ',
                '/donate' => 'Donate',
                '/about-the-american-archive/newsletter' => 'Newsletter Signup'
                },
              ],
            [
              {
                '/help/contribute' => 'Contribute Content',
                '/help/using-the-ams' => 'Access the AMS',
                '/help/obtain-metadata' => 'Obtain Metadata',
                '/resources' => 'Resources',
                'http://ndsr.americanarchive.org/'=> 'NDSR',
                'http://americanarchivepb.wordpress.com/'=> 'Blog',
                'http://wiki.americanarchive.org/'=> 'Wiki'
                },
              {
                '/legal/orr-rules' => 'ORR Rules of Use',
                '/legal/tou' => 'Terms of Use',
                '/legal/privacy' => 'Privacy Policy'
              }
            ]
          ].each_with_index do |pairs, i| %>
          <div class="col-md-6 clearfix">
            <% pairs.each_with_index do |links, j| %>
              <div class="panel panel-default naked-panel">
                <div class="panel-body">
                  <ul class="list-group">
                    <% links.each do |href, name| %>
                      <li class="list-group-item"><%= link_to name, href, target: ('_blank' if href =~ /\A(http)/) %></li>
                    <% end %>
                  </ul>
                  <% if i == 1 && j == 1 %>
                    <ul class="social list-unstyled">
                      <li class="blog"><a class="blog" href="https://americanarchivepb.wordpress.com/" target="_blank" title="Read the AAPB Blog">Read Our Blog</a></li>
                      <li class="twitter"><a href="https://twitter.com/amarchivepub" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a></li>
                      <li class="facebook"><a href="https://www.facebook.com/amarchivepub" target="_blank" title="Like us on Facebook">Like us on Facebook</a></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </nav><!-- END Footer Links Well -->

    <hr>

    <!-- Row Three: Collaboration -->
    <div class="row three">

      <ul class="list-group collab">
        <li class="list-group-item loc"><a href="http://www.loc.gov/" target="_blank" title="The Library of Congress">The Library of Congress</a></li>
        <li class="list-group-item title"><h3>A<br>Collaboration<br>Between</h3></li>
        <li class="list-group-item wgbh"><a href="http://openvault.wgbh.org/" target="_blank" title="WGBH Media Library &amp; Archives">WGBH Media Library &amp; Archives</a></li>
      </ul>

    </div>
    <!-- END Row Three -->


  </div><!-- END Container -->
</footer><!-- END Jumbotron -->

<%= render partial: 'shared/analytics' %>
