<header class="header" id="header" role="">
  <div class="region clearfix">

    <!-- Main Nav Bar -->
    <nav id="header-navbar" class="navbar navbar-default main-nav" role="navigation" aria-label="Main Menu">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <header role="banner" class="banner-assets">
            <%= link_to application_name, root_path, class: "navbar-brand banner" %>
            <div class="banner-text">
              <p id="banner-text" class="hidden-xs"><em>a collaboration between the Library of Congress and WGBH</em></p>
            </div>
          </header>
        </div>

        <div class="collapse navbar-collapse" id="user-util-collapse">

          <!--  Main Nav Links -->

          <ul class="nav navbar-nav navbar-right primary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/about-the-american-archive">About the AAPB</a></li>
                <li><a href="/about-the-american-archive/vision-and-mission">Vision and Mission</a></li>
                <li><a href="/about-the-american-archive/history">History</a></li>
                <li><a href="/participating-orgs">Participating Organizations</a></li>
                <li><a href="/on-location">On Location Research</a></li>
                <li><a href="/search">Searching the Website</a></li>
                <li><a href="/exhibits">Exhibits</a></li>
                <li><a href="/special_collections">Special Collections</a></li>
                <li><a href="/about-the-american-archive/projects">Projects</a></li>
                <li><a href="/about-the-american-archive/funding">Funding</a></li>
                <li><a href="/about-the-american-archive/executive-advisory-council">Executive Advisory Council</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/about-the-american-archive/newsletter">Newsletter Signup</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">For Participating Organizations <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/help/contribute">Contribute content</a></li>
                <li><a href="/help/using-the-ams">Access the AMS</a></li>
                <li><a href="/help/obtain-metadata">Obtain your metadata</a></li>
                <li><a href="http://wiki.americanarchive.org/">Wiki</a></li>
              </ul>
            </li>
            <li><a href="/donate" id="donate">Donate</a></li>

          </ul>

          <!-- Secondary Nav Links -->
          <nav class="navbar-right secondary-nav" role="navigation">

            <ul class="nav navbar-nav row">
              <!-- Nav Search -->
              <% if !current_page?(controller: 'home', action: 'show') && !(current_page?(controller: 'catalog', action: 'index') && params.to_h['f'].try(:has_key?,'special_collection'))  %>
                  <li class="col-md-6 sec-nav-item"><%= render_search_bar %></li>
              <% end %>
              <li class="col-md-6 sec-nav-item"><%= link_to "FIX IT: A TRANSCRIPT GAME", "http://fixit.americanarchive.org/?utm_source=aapb_fixit_header&utm_medium=website&utm_campaign=fixit_from_website", class: "header-fixit", target: "_blank" %></li>
            </ul>
          </nav>

        </div>
      </div>
    </nav>
    <!-- /Main Nav Bar -->

  </div>
</header>
