<% cache('blog', :expires_in => 1.hour) do %>
  <% WPData.new.data.each do |post| %>
    <h4>From the Blog</h4>
    <h3 class="list-group-item-heading">
      <a href="<%= post[:link] %>"  target="_blank">
        <%= post[:title].html_safe %>
      </a>
    </h3>
    <p class="list-group-item-text">
      <%= truncate(HTMLEntities.new.decode(strip_tags(post[:content])), length: 150, separator: '. ') %> <a href="<%= post[:link] %>" target="_blank" title="Visit the AAPB Blog"><em>More</em></a>
    </p>

    <div class="btn-group" role="group">
      <a href="https://twitter.com/amarchivepub" target="_blank" title="Follow us on Twitter" class="btn btn-link btn-sm">AAPB on Twitter</a>
      <a href="https://www.facebook.com/amarchivepub" target="_blank" title="Like us on Facebook" class="btn btn-link btn-sm">AAPB on Facebook</a>
    </div>

  <% end %>
<% end %>
