<div class="well intro-text">
  <h1>Browse the Collection</h1>
</div>

<div class="container">
  <div class="row browsable">
      <% {
        'Agriculture' => 'farms OR crops OR livestock OR agriculture',
        'Animals' => nil,
        'Antiques and Collectibles' => nil,
        'Biography' => nil,
        'Business' => nil,
        'Call-in' => nil,
        'Children’s' => nil,
        'Consumer Affairs and Advocacy' => nil,
        'Cooking' => nil,
        'Crafts' => nil,
        'Dance' => nil,
        'Debate' => nil,
        'Documentary' => nil,
        'Drama' => nil,
        'Economics' => nil,
        'Education' => 'education OR school OR teach',
        'Employment' => nil,
        'Energy' => nil,
        'Environment' => nil,
        'Event Coverage' => nil,
        'Exercise' => nil,
        'Film and Television' => nil,
        'Fine Arts' => nil,
        'Fundraiser' => nil,
        'Game Show' => nil,
        'Gardening' => nil,
        'Geography' => nil,
        'Global Affairs' => nil,
        'Government' => nil,
        'Health' => nil,
        'History' => nil,
        'Holiday' => nil,
        'Home Improvement' => nil,
        'Humor' => nil,
        'Instructional' => nil,
        'Interview' => nil,
        'Journalism' => nil,
        'LGBTQ' => 'lesbian OR gay OR bisexual OR transsexual OR queer OR homosexual',
        'Literature' => nil,
        'Local Communities' => nil,
        'Magazine' => nil,
        'Miniseries' => nil,
        'Music' => nil,
        'Nature' => nil,
        'News' => nil,
        'News Report' => nil,
        'Parenting' => nil,
        'Performance' => nil,
        'Performing Arts' => nil,
        'Philosophy' => nil,
        'Politics' => nil,
        'Promo' => nil,
        'Public Affairs' => nil,
        'Public Service Announcement' => nil,
        'Race and Ethnicity' => nil,
        'Radio Theater' => nil,
        'Recorded Music' => nil,
        'Religion' => nil,
        'Science' => nil,
        'Social Issues' => nil,
        'Special' => nil,
        'Sports' => nil,
        'Stand-up' => nil,
        'Talk Show' => nil,
        'Technology' => nil,
        'Theater' => nil,
        'Travel' => nil,
        'Unedited' => nil,
        'War and Conflict' => 'war OR battle',
        'Weather' => nil,
        'Women' => nil,
      }.each.to_a.in_groups(6,false) do |group| %>
        <div  class="col-md-2 col-sm-6 column">
          <ul class="list-unstyled">
            <% group.each do |term, q| 
                q ||= term.downcase %>
              <li><a href="/catalog?q=<%= CGI::escape(q) %>"><%= term %></a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>
