<div class="well intro-text">
  <h1>Browse the Collection</h1>
</div>

<div class="container">
  <div id="welcome-panel" class="row">
      <div class="col-md-6 column">

        <h3>Topic</h3>
        
        <ul>
          <li><a>Slithy</a></li>
          <li><a>Toves</a></li>
          <li><a>Outgabe</a></li>
        </ul>

      </div>
     
      <div class="col-md-6 column">

        <h3>Format</h3>
        
        <ul>
          <li><a>Slithy</a></li>
          <li><a>Toves</a></li>
          <li><a>Outgabe</a></li>
        </ul>

      </div>
    </div>
</div>
