<div class="well intro-text">
  <h1>Browse the Collection</h1>
</div>

<div class="container">
  <div class="row browsable">
      <% {
        'Agriculture' => 'farms OR crops OR livestock OR agriculture',
        'Animals' => 'animals OR wildlife OR zoo OR pets OR dog OR cat OR horse',
        'Biography' => nil,
        'Call-in' => nil,
        'Children’s' => 'children OR kids OR youth',
        'Consumer Affairs' => 'consumer OR advocacy',
        'Cooking' => 'cooking OR cuisine OR food',
        'Crafts' => 'crafts OR sewing OR knitting OR artisan',
        'Dance' => 'dance OR ballet',
        'Debate' => nil,
        'Documentary' => nil,
        'Drama' => nil,
        'Economics' => 'economics OR economy OR "stock market" OR "tax reform" OR business',
        'Education' => 'education OR school OR teach',
        'Energy' => nil,
        'Earth and Environment' => 'earth OR environment OR conservation OR pollution OR "climate change" OR "global warming"',
        'Event Coverage' => 'event coverage OR speech OR lecture',
        'Fine Arts' => 'art',
        'Gardening' => 'garden',
        'Global Affairs' => '"global affairs" OR "international affairs" OR "world affairs"',
        'Government' => nil,
        'Health' => 'health OR medical OR medicine OR epidemic',
        'History' => 'history OR preservation',
        'Humor' => 'humor OR comedy OR funny OR joke OR laugh',
        'Interview' => nil,
        'LGBTQ' => 'lesbian OR gay OR bisexual OR transgender OR queer OR homosexual',
        'Literature' => "literature OR reading OR books",
        'Local Communities' => nil,
        'Music' => 'music OR concert OR symphony OR orchestra',
        'Nature' => 'nature OR forest OR ocean OR geology OR plants',
        'News' => nil,
        'Parenting' => nil,
        'Philosophy' => nil,
        'Politics' => 'politic OR election',
        'Public Affairs' => '"public affairs"',
        'Race and Ethnicity' => 'race OR ethnicity OR "civil rights" OR racism OR segregation OR desegregation OR discrimination OR african OR negro OR naacp OR sncc OR "urban league" OR sclc OR japanese OR chinese OR korean OR asian OR cuban OR latino OR hispanic OR chicano OR irish OR italian OR jewish OR german OR polish OR filipino OR indian OR native',
        'Radio Theater' => '"radio theatre" OR "radio theater" OR "radio drama"',
        'Religion' => 'religion OR church OR temple OR islam OR muslim OR christian OR bible OR catholic OR jewish OR judaism OR buddhist OR buddhism OR hindu OR mormon',
        'Science' => 'science OR biology OR lab OR chemistry OR physics',
        'Social Issues' => 'inequality OR discrimination OR poverty OR crime OR immigration OR classism OR "gun control" OR obesity OR hunger OR "social issues" OR "human rights" OR "social movements"',
        'Sports' => 'sports OR athletics OR athletes OR baseball OR basketball OR soccer OR golf OR football OR olympic',
        'Talk Show' => nil,
        'Technology' => 'technology OR electronics OR computer',
        'Theater and Acting' => 'theater OR theatre OR acting OR actor',
        'Travel' => nil,
        'Unedited' => nil,
        'War' => 'war OR battle',
        'Women' => 'women OR female OR feminism OR sexism',
      }.each.to_a.in_groups(6,false) do |group| %>
        <div  class="col-md-2 col-sm-6 column">
          <ul class="list-unstyled">
            <% group.each do |term, q| 
                q ||= term.downcase %>
              <li><a href="/catalog?q=<%= CGI::escape(q) %>"><%= term %></a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>
