<div class="well fixit-text">
  <h2>Fix It: A Transcript Game</h2>
  <div class="fixit-box">
    <p>You can make historic public radio and television programs from across America easier to search and access. Help AAPB archivists and history lovers identify and correct errors in machine-generated transcripts. Your corrections will made available in the American Archive of Public Broadcasting.</p>
  </div>
  <div class="row fixit-row">
    <div class="col-md-3 fixit-promo fixit-first">
      <div class="fixit-circle">1</div>
      <h3>IDENTIFY ERRORS</h3>
    </div>
    <div class="col-md-3 fixit-promo fixit-second">
      <div class="fixit-circle">2</div>
      <h3>SUGGEST FIXES</h3>
    </div>
    <div class="col-md-3 fixit-promo fixit-third">
      <div class="fixit-circle">3</div>
      <h3>VALIDATE FIXES</h3>
    </div>
  </div>
</div>
