<div class="well fixit-text">
  <div class="row fixit-row">
    <%= link_to "FIX IT: A TRANSCRIPT GAME", "http://fixit.americanarchive.org/?utm_source=aapb_fixit_logo&utm_medium=website&utm_campaign=fixit_from_website", class: "fixit-logo col-md-4", target: "_blank" %>
  </div>
  <div class="fixit-box">
    <p>You can make historic public radio and television programs from across America easier to search and access. Help AAPB archivists and history lovers identify and correct errors in machine-generated transcripts. Your corrections will made available in the American Archive of Public Broadcasting.</p>
  </div>
  <div class="row fixit-row">
    <a class="col-md-3 fixit-promo fixit-first" href="http://fixit.americanarchive.org/?utm_source=aapb_fixit_promo1&utm_medium=website&utm_campaign=fixit_from_website" target="_blank">
      <div class="fixit-circle">1</div>
      <h3>IDENTIFY ERRORS</h3>
    </a>
    <a class="col-md-3 fixit-promo fixit-second" href="http://fixit.americanarchive.org/?utm_source=aapb_fixit_promo2&utm_medium=website&utm_campaign=fixit_from_website" target="_blank">
      <div class="fixit-circle">2</div>
      <h3>SUGGEST FIXES</h3>
    </a>
    <a class="col-md-3 fixit-promo fixit-third" href="http://fixit.americanarchive.org/?utm_source=aapb_fixit_promo3&utm_medium=website&utm_campaign=fixit_from_website" target="_blank">
      <div class="fixit-circle">3</div>
      <h3>VALIDATE FIXES</h3>
    </a>
  </div>
</div>
