<div class="well help-us-text">
  <div class="help-us-box row">
    <div class="col-md-12">
      <p>You can make historic public radio and television programs from across America easier to search and access. Become a citizen archivist by using FIX IT+, our tool for correcting speech-to-text transcripts! Your contributions will be made available in the American Archive of Public Broadcasting.</p>
      <a href="http://fixitplus.americanarchive.org/?utm_source=aapb_help-us_promo2&utm_medium=website&utm_campaign=help-us_from_website" target="_blank">
        <img class="fix-it-promo" src="https://s3.amazonaws.com/americanarchive.org/org-logos/FIX_IT_plus.png" alt="FIX IT +"/>
        <p><a href="http://fixit.americanarchive.org/?utm_source=aapb_help-us_promo2&utm_medium=website&utm_campaign=help-us_from_website" target="_blank">See a previous version of FIX IT</a></p>
      </a>

    </div>
  </div>
</div>
