<div class="well help-us-text">
  <div class="help-us-box row">
    <div class="col-md-12">
      <p>You can make historic public radio and television programs from across America easier to search and access. Help AAPB archivists by participating in any of our Citizen Archivist tools – FIX IT, FIX IT+, or Roll the Credits! Your contributions will made available in the American Archive of Public Broadcasting.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 help-us-first">
      <div class="help-us-promo">
        <a href="http://fixit.americanarchive.org/?utm_source=aapb_help-us_promo1&utm_medium=website&utm_campaign=help-us_from_website" target="_blank">
          <img src="https://s3.amazonaws.com/americanarchive.org/org-logos/fixit_logo_lg.png"/>
          <p>Play our game to correct speech-to-text transcripts</p>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 help-us-second">
      <div class="help-us-promo">
        <a href="http://fixitplus.americanarchive.org/?utm_source=aapb_help-us_promo2&utm_medium=website&utm_campaign=help-us_from_website" target="_blank">
          <h3>FIX IT +</h3>
          <p>Use this simple tool to correct speech-to-text transcripts</p>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 help-us-third">
      <div class="help-us-promo">
        <a href="https://www.zooniverse.org/projects/sroosa/roll-the-credits/?utm_source=aapb_help-us_promo3&utm_medium=website&utm_campaign=help-us_from_website" target="_blank">
          <h3>ROLL THE CREDITS</h3>
          <p>Transcribe credit information from public television programs</p>
        </a>
      </div>
    </div>
  </div>
</div>
