<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
  />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  
  <%= stylesheet_link_tag "/data/map.css" %>
  <%= javascript_include_tag "/data/states.js" %>
  
<% end %>

<div id="map"></div>

<%= javascript_include_tag "/data/map.js" %>
