<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<style>
  .about {
    font-size: 0.8em;
    max-height: 10rem;
    overflow: auto;
  }

  .marker-cluster-small {
    background-color: #44429655;
  }
  .marker-cluster-small div {
    background-color: #541c7c15;
  }

  .marker-cluster-medium {
    background-color: #8c0c5455;
  }
  .marker-cluster-medium div {
    background-color: #ec242c55;
  }

  .marker-cluster-large {
    background-color: #d42c6833;
  }
  .marker-cluster-large div {
    background-color: #8c0c5455;
  }

  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
  }
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  .marker-cluster span {
    line-height: 30px;
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
</style>

<div id="map" style="height: 600px; width: 100%"></div>

<script>
  // Initialize the map and set its view to the United States
  const map = L.map('map', {
    maxZoom: 10,
    minZoom: 2,
    zoomSnap: 0.5,
    zoomDelta: 1,
  }).setView([37.8, -96], 4)

  // Set up the OSM layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
  }).addTo(map)

  // Add a control to show the state name on hover
  const info = L.control()
  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info')
    this.update()
    return this._div
  }

  info.update = function (props) {
    this._div.innerHTML =
      `<h4>Contributing Organizations</h4>` +
      (props ? `<b>${props.name}</b>` : 'Hover over a state')
  }

  info.addTo(map)

  // Add the marker cluster layer
  const markers = L.markerClusterGroup({
    maxClusterRadius: 20,
    spiderfyOnMaxZoom: true,
  }).on('clusterclick', a => {
    a.layer.zoomToBounds({ padding: [20, 20] })
  })
  map.addLayer(markers)

  const stateStyle = {
    fillColor: '#7c147c',
    weight: 1,
    color: '#ccc',
    dashArray: 3,
    fillOpacity: 0.5,
  }

  const stateStyleActive = {
    fillColor: '#7c147c',
    weight: 3,
    color: 'white',
    dashArray: 2,
    fillOpacity: 0.7,
  }

  const geojsonUrl =
    'https://raw.githubusercontent.com/PublicaMundi/MappingAPI/master/data/geojson/us-states.json'
  const orgsUrl =
    'https://raw.githubusercontent.com/WGBH-MLA/AAPB2/map/orgs.json'
  var orgs = null

  // Add the GeoJSON layer to the map
  fetch(geojsonUrl)
    .then(response => response.json())
    .then(data => {
      L.geoJson(data, {
        onEachFeature: (feature, layer) => {
          layer.on({
            click: e => {
              console.log('Clicked on ' + feature.properties.name, e)
              window.location.href = '#' + feature.properties.name
            },
            mouseover: e => {
              layer.setStyle(stateStyleActive)
              layer.bringToFront()
            },
            mouseout: e => {
              layer.setStyle(stateStyle)
            },
          })
        },
        style: stateStyle,
      }).addTo(map)
    })

  fetch(orgsUrl)
    .then(response => response.json())
    .then(data => {
      orgs = data
      Object.keys(data).forEach(org_id => {
        let org = data[org_id]
        markers.addLayer(
          L.marker(org.location, {
            title: org.Name,
          }).bindPopup(
            (org.Url
              ? `<a href="${org.Url}" target="_blank" ><h3>${org.Name}</h3></a>`
              : `<h3>${org.Name}</h3><br>`) +
              (org.Logo ? `<img src="${org.Logo}" style="map-logo"><br>` : '') +
              `${org.City}, ${org.State}<br>` +
              (org.About && `<div class="about">${org.About}</div><br>`) +
              (org.Productions
                ? `<h4>Productions</h4><div class="about">${org.Productions}</div>`
                : '')
          )
        )
      })
    })
</script>
