<div class="well intro-text">
  <h3>Participating Organizations</h3>
  <p>Learn about the history, significant productions, and archive contributions of more than 120 public media stations and archives.</p>
</div>

<div id="welcome-panel" class="row">
  <%= render file: "#{Rails.root}/app/views/organizations/usa.svg" %>
</div>
