<div class="well intro-text">
  <h1>Participating Organizations</h1>
  <p>TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO </p>
</div>

<div id="orgs-carousel" class="carousel slide home-carousel" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#orgs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#orgs-carousel" data-slide-to="1" class=""></li>
    <li data-target="#orgs-carousel" data-slide-to="2" class=""></li>
  </ol> -->
  <div class="carousel-inner clearfix" role="listbox">

    <div class="item active">

      <!-- Panel - Welcome Text Blocks -->
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="list-group">
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">KAKM Alaska Public Media</h3>
                <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">Koahnic Broadcast Corporation</h3>
                <h4 class="list-group-item-heading">Anchorage, Alaska</h4>
                <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">Idaho Public Television</h3>
                <h4 class="list-group-item-heading">New York, New York</h4>
                <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
          </div>

        </div>
      </div>
      <!-- Panel -->

    </div>

    <div class="item">

      <!-- Panel - Welcome Text Blocks -->
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="list-group">
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">WILL Illinois Public Media</h3>
                <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">KET - Kentucky Educational Television</h3>
                <h4 class="list-group-item-heading">Washington, DC</h4>
                <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">WNBC</h3>
                <h4 class="list-group-item-heading">New York, New York</h4>
                <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
          </div>

        </div>
      </div>
      <!-- Panel -->

    </div>

    <div class="item">

      <!-- Panel - Welcome Text Blocks -->
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="list-group">
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">WKRP</h3>
                <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">DC101</h3>
                <h4 class="list-group-item-heading">Washington, DC</h4>
                <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
            <a href="participating-orgs" class="list-group-item">
              <span class="carousel-caption">
                <h3 class="list-group-item-heading">WNBC</h3>
                <h4 class="list-group-item-heading">New York, New York</h4>
                <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
              </span>
            </a>
          </div>

        </div>
      </div>
      <!-- Panel -->

    </div>

  </div>
  <a class="left carousel-control" href="#orgs-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#orgs-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="Organizations">
  <a href="#" class="btn btn-primary" role="button">View All Participating Organizations</a>
</div>