<div class="well intro-text">
  <h1>Participating Organizations</h1>
  <p>Learn about the history, significant productions, and archive contributions of more than 120 public media stations and archives.</p>
</div>

<p style="text-align: center;">
    <%= render file: "#{Rails.root}/app/views/organizations/usa.svg" %>
</p>