<!-- TODO: home page -->

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome" style="background-color:#3c439b;">
	<div class="container">

	 	<h1>Search over 40,000 hours of publicly funded broadcasting in America.</h1>
	  
	  	<!-- Panel - Search -->
          <div class="panel panel-default" id="home-search">
            <div class="panel-body">
                
                <div class="input-group input-group-lg">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search All Fields <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Title</a></li>
                      <li><a href="#">Date</a></li>
                      <li><a href="#">Media Type</a></li>
                      <li><a href="#">Collection</a></li>
                      <li><a href="#">Institution</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                  <input type="text" class="form-control" aria-label="..." placeholder="What are you looking for?">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Search</button>
                  </span>
                </div><!-- /input-group -->

            </div>
          </div>
          <!-- Panel -->

          <h3>The American Archive of Public Broadcasting, a collaboration between WGBH and the Library of Congress (Library), was instituted in 2013 with a long-term vision to identify, preserve, and make accessible as much as possible the historical record of publicly funded broadcasting in America.</h3>

          <!-- THis is the Feature Carousel for the homepage -->
	  <div id="feature-carousel" class="carousel slide home-carousel" data-ride="carousel" style="height:300px;">
        <ol class="carousel-indicators">
          <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#feature-carousel" data-slide-to="1" class=""></li>
          <li data-target="#feature-carousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <div class="item active" style="height:300px;">
          		
			<!-- Panel - Welcome Text Blocks -->
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="list-group">
						<a href="#" class="list-group-item active">
							<h3 class="list-group-item-heading">List group item heading</h3>
							<p class="list-group-item-text">Boston Public Library</p>
						</a>
						<a href="#" class="list-group-item">
							<h3 class="list-group-item-heading">List group item heading</h3>
							<p class="list-group-item-text">WGBH Open Vault</p>
						</a>
						<a href="#" class="list-group-item">
							<h3 class="list-group-item-heading">List group item heading</h3>
							<p class="list-group-item-text">Library of Congress</p>
						</a>
					</div>

				</div>
			</div>
			<!-- Panel -->

          </div>

          <div class="item" style="height:300px;">
			<div class="carousel-caption">
				<h3>Slide Two</h3>
				<p>Beatiful flowers in Kolymbari, Crete.</p>
			</div>
          </div>

          <div class="item" style="height:300px;">
	          <div class="carousel-caption">
				<h3>Slide Three</h3>
				<p>Beatiful flowers in Kolymbari, Crete.</p>
				</div>
          </div>

        </div>
        <a class="left carousel-control" href="#feature-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#feature-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- END Feature Carousel for the homepage -->

      <hr>

      <!-- Panel - Welcome Text Blocks -->
          <div class="panel panel-default">
            <div class="panel-body">

      			<div class="list-group">
				  <a href="#" class="list-group-item active">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">Boston Public Library</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">WGBH Open Vault</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">Library of Congress</p>
				  </a>
				</div>

			</div>
          </div>
          <!-- Panel -->

	</div>
</div>
<!-- END Welcome -->

<!-- Institutions -->
<div class="jumbotron home-jumbotron" id="stations" style="background-color:#ef3f37;">
	<div class="container">
	  <h1>Stations</h1>
	  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	  <div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Left</button>
		  <button type="button" class="btn btn-default">Middle</button>
		  <button type="button" class="btn btn-default">Right</button>
		</div>
	</div>
</div>
<!-- END Institutions -->

<!-- Collections -->
<div class="jumbotron home-jumbotron" id="collections" style="background-color:#9f2064;">
	<div class="container">
	  <h1>Collections</h1>
	  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

	  <!-- Panel - Welcome Text Blocks -->
          <div class="panel panel-default">
            <div class="panel-body">

      			<div class="list-group">
				  <a href="#" class="list-group-item active">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">Boston Public Library</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">WGBH Open Vault</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h3 class="list-group-item-heading">List group item heading</h3>
				    <p class="list-group-item-text">Library of Congress</p>
				  </a>
				</div>

			</div>
          </div>
          <!-- Panel -->

	  <div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Left</button>
		  <button type="button" class="btn btn-default">Middle</button>
		  <button type="button" class="btn btn-default">Right</button>
		</div>

	</div>
</div>
<!-- END Collections -->

<!-- Institutions -->
<div class="jumbotron home-jumbotron" id="institutions" style="background-color:#90298e;">
	<div class="container">
	  <h1>Institutions</h1>
	  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	  <div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Left</button>
		  <button type="button" class="btn btn-default">Middle</button>
		  <button type="button" class="btn btn-default">Right</button>
		</div>
	</div>
</div>
<!-- END Institutions -->





<!-- Relative Nav -->
<nav class="specialnav affix" style="top:300px;">
	<ul class="nav">
		<li><a href="#top"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> <strong>Welcome</strong></a></li>
		<li><a href="#stations"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> <strong>Stations</strong></a></li>
		<li><a href="#collections"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> <strong>Collections</strong></a></li>
		<li><a href="#institutions"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> <strong>Institutions</strong></a></li>
	</ul>
</nav>

