<!-- TODO: home page -->

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">

    <h1>Discover millions of historic programs from publicly funded radio and television stations across America. Watch and listen to thousands of them.</h1>
    
    <!-- Well - Relative Home Nav -->
    <div class="well well-sm sticky-well home-rel-nav" data-spy="affix" data-offset-top="200">
      <div class="btn-group" role="group" aria-label="AAPB Homepage Sections">
        <a class="btn btn-default home-rel-nav-welcome" href="#top" role="button">Welcome</a>
        <a class="btn btn-default" href="#stations" role="button">Contributing Stations</a>
        <a class="btn btn-default" href="#collections" role="button">Featured Collections</a>
        <a class="btn btn-default" href="#staff" role="button">Staff Curations</a>
      </div>
    </div>
    <!-- Wells -->

    <!-- Panel - Search -->
    <div class="panel panel-default large-search" id="home-search">
      <div class="panel-body">
          <%= render :partial=>'catalog/search_form_big'  %>
      </div>
    </div>
    <!-- Panel -->

    <!-- THis is the Feature Carousel for the homepage -->
      <div id="feature-carousel" class="carousel slide home-carousel" data-ride="carousel" style="height:300px;">
        <ol class="carousel-indicators">
          <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#feature-carousel" data-slide-to="1" class=""></li>
          <li data-target="#feature-carousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <div class="item active">
                    
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Boston Public Library</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">WGBH Open Vault</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Library of Congress</p>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
           
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Boston Public Library</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">WGBH Open Vault</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Library of Congress</p>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
            
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Boston Public Library</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">WGBH Open Vault</p>
                  </a>
                  <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">List group item heading</h3>
                    <p class="list-group-item-text">Library of Congress</p>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

        </div>
        <a class="left carousel-control" href="#feature-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#feature-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- END Feature Carousel for the homepage -->

      <hr>

      <!-- Panel - Welcome Text Blocks -->
          <div class="panel panel-default">
            <div class="panel-body">

              <div class="list-group">
                <a href="#" class="list-group-item active">
                  <h3 class="list-group-item-heading">List group item heading</h3>
                  <p class="list-group-item-text">Boston Public Library</p>
                </a>
                <a href="#" class="list-group-item">
                  <h3 class="list-group-item-heading">List group item heading</h3>
                  <p class="list-group-item-text">WGBH Open Vault</p>
                </a>
              </div>

            </div>
          </div>
          <!-- Panel -->

  </div>
</div>
<!-- END Welcome -->

<!-- Institutions -->
<div class="jumbotron home-jumbotron" id="stations">
  <div class="container">
    <h1>Contributing Stations</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <!-- Panel - Welcome Text Blocks -->
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Boston Public Library</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">WGBH Open Vault</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Library of Congress</p>
          </a>
        </div>

      </div>
    </div>
    <!-- Panel -->

    <!-- Well - Relative Home Nav -->
    <div class="well well-sm">

      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" href="#" role="button">View All Stations</a>
      </div>

      <div class="btn-group pull-right" role="group" aria-label="...">
        <a class="btn btn-default active" href="#stations" role="button">Stations</a>
        <a class="btn btn-default" href="#collections" role="button">Collections</a>
        <a class="btn btn-default" href="#staff" role="button">Staff Picks</a>
        <a class="btn btn-default" href="#largesearchone" role="button">Search</a>

      </div>

    </div>
    <!-- Wells -->

  </div>
</div>
<!-- END Institutions -->

<!-- Collections -->
<div class="jumbotron home-jumbotron" id="collections">
  <div class="container">
    <h1>Featured Collections</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <!-- Panel - Welcome Text Blocks -->
          <div class="panel panel-default">
            <div class="panel-body">

            <div class="list-group">
          <a href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Boston Public Library</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">WGBH Open Vault</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Library of Congress</p>
          </a>
        </div>

      </div>
    </div>
    <!-- Panel -->

    <!-- Well - Relative Home Nav -->
    <div class="well well-sm">

      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" href="#" role="button">View More Collections</a>
      </div>

      <div class="btn-group pull-right" role="group" aria-label="...">
        <a class="btn btn-default" href="#stations" role="button">Stations</a>
        <a class="btn btn-default active" href="#collections" role="button">Collections</a>
        <a class="btn btn-default" href="#staff" role="button">Staff Picks</a>
      </div>

    </div>
    <!-- Wells -->

  </div>
</div>
<!-- END Collections -->

<!-- Institutions -->
<div class="jumbotron home-jumbotron" id="staff">
  <div class="container">
    <h1>Staff Curations</h1>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <!-- Panel - Welcome Text Blocks -->
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Boston Public Library</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">WGBH Open Vault</p>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Library of Congress</p>
          </a>
        </div>

      </div>
    </div>
    <!-- Panel -->

  </div>
</div>
<!-- END Institutions -->

