<!-- TODO: home page -->

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">
    <div class="well intro-text">
      <h1>Discover millions of historic programs from publicly funded radio and television stations across America. Watch and listen to thousands of them.</h1>
    </div>
    <!-- Well - Relative Home Nav -->
    <!-- <div class="well well-sm sticky-well home-rel-nav" data-spy="affix" data-offset-top="200">
      <div class="btn-group" role="group" aria-label="AAPB Homepage Sections">
        <a class="btn btn-default home-rel-nav-welcome" href="#top" role="button">Welcome</a>
        <a class="btn btn-default" href="#stations" role="button">Contributing Stations</a>
        <a class="btn btn-default" href="#collections" role="button">Featured Collections</a>
        <a class="btn btn-default" href="#staff" role="button">Staff Curations</a>
      </div>
    </div> -->
    <!-- Wells -->

    <!-- Panel - Search -->
    <div class="panel panel-default large-search" id="home-search">
      <div class="panel-body">
          <%= render :partial=>'catalog/search_form_big'  %>
      </div>
    </div>
    
    <%= render :partial=>'home/feature_carousel'  %>

    <br />

    <!-- Panel - Welcome Text Blocks -->
    <div class="panel panel-default" id="welcome-panel">
      <div class="panel-body">

        <div class="list-group">

          <div class="list-group-item">
            <h3 class="list-group-item-heading">About the AAPB</h3>
            <p class="list-group-item-text">We are a collaboration between WGBH and the Library of Congress with a long-term vision to identify and preserve, as much as possible the historical record of publicly funded broadcasting in America.</p>
            <p class="list-group-item-text"><a href="/about-the-american-archive" title="Learn More About the AAPB"><strong>Learn More About the AAPB</strong></a></p>
          </div>

          <div class="list-group-item">
            <%= render :partial=>'home/blog'  %>
          </div>

        </div>

      </div>
    </div>
    <!-- Panel -->
    
  </div>
</div>
<!-- END Welcome -->

<!-- Contributing Stations -->
<div class="jumbotron home-jumbotron" id="stations">
  <div class="container">
    
    <%= render :partial=>'home/orgs_carousel'  %>

  </div>
</div>
<!-- END Contributing Stations -->


