<!-- TODO: home page -->

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">
    <div class="well intro-text">
      <h1>Discover millions of historic programs from publicly funded radio and television stations across America. Watch and listen to thousands of them.</h1>
    </div>
    <!-- Well - Relative Home Nav -->
    <!-- <div class="well well-sm sticky-well home-rel-nav" data-spy="affix" data-offset-top="200">
      <div class="btn-group" role="group" aria-label="AAPB Homepage Sections">
        <a class="btn btn-default home-rel-nav-welcome" href="#top" role="button">Welcome</a>
        <a class="btn btn-default" href="#stations" role="button">Contributing Stations</a>
        <a class="btn btn-default" href="#collections" role="button">Featured Collections</a>
        <a class="btn btn-default" href="#staff" role="button">Staff Curations</a>
      </div>
    </div> -->
    <!-- Wells -->

    <!-- Panel - Search -->
    <div class="panel panel-default large-search" id="home-search">
      <div class="panel-body">
          <%= render :partial=>'catalog/search_form_big'  %>
      </div>
    </div>
    <!-- Panel -->

    <!-- THis is the Feature Carousel for the homepage -->
      <div id="feature-carousel" class="carousel slide home-carousel" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#feature-carousel" data-slide-to="1" class=""></li>
          <li data-target="#feature-carousel" data-slide-to="2" class=""></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
                    
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Boston Public Library</p>
                    <span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">WGBH Open Vault</p>
                    </span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Library of Congress</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
           
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Boston Public Library</p>
                    <span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">WGBH Open Vault</p>
                    </span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Library of Congress</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
            
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Boston Public Library</p>
                    <span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">WGBH Open Vault</p>
                    </span>
                  </a>
                  <a href="#" class="list-group-item">
                    <img src="thumbs/other.jpg" title="Carousel Thumbnail" alt="Carousel Thumbnail" />
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">List group item heading</h3>
                      <p class="list-group-item-text">Library of Congress</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

        </div>
        <a class="left carousel-control" href="#feature-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#feature-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- END Feature Carousel for the homepage -->

      <br />

      <!-- Panel - Welcome Text Blocks -->
          <div class="panel panel-default" id="welcome-panel">
            <div class="panel-body">

              <div class="list-group">

                <div class="list-group-item">
                  <h3 class="list-group-item-heading">About the AAPB</h3>
                  <p class="list-group-item-text">We are a collaboration between WGBH and the Library of Congress with a long-term vision to identify and preserve, as much as possible the historical record of publicly funded broadcasting in America.</p>
                  <p class="list-group-item-text"><a href="/about-the-american-archive" title="Learn More About the AAPB"><strong>Learn More About the AAPB</strong></a></p>
                </div>

                <div class="list-group-item">
                  <%= render :partial=>'home/blog'  %>
                </div>

              </div>

            </div>
          </div>
          <!-- Panel -->

          

  </div>
</div>
<!-- END Welcome -->

<!-- Contributing Stations -->
<div class="jumbotron home-jumbotron" id="stations">
  <div class="container">

    <div class="well intro-text">
      <h1>Participating Organizations</h1>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
    
    <!-- THis is the Feature Carousel for the homepage -->
      <div id="orgs-carousel" class="carousel slide home-carousel" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#orgs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#orgs-carousel" data-slide-to="1" class=""></li>
          <li data-target="#orgs-carousel" data-slide-to="2" class=""></li>
        </ol> -->
        <div class="carousel-inner clearfix" role="listbox">

          <div class="item active">
                    
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">KAKM Alaska Public Media</h3>
                      <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                      <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    <span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">Koahnic Broadcast Corporation</h3>
                      <h4 class="list-group-item-heading">Anchorage, Alaska</h4>
                      <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">Idaho Public Television</h3>
                      <h4 class="list-group-item-heading">New York, New York</h4>
                      <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
           
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">WILL Illinois Public Media</h3>
                      <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                      <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    <span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">KET - Kentucky Educational Television</h3>
                      <h4 class="list-group-item-heading">Washington, DC</h4>
                      <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">WNBC</h3>
                      <h4 class="list-group-item-heading">New York, New York</h4>
                      <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

          <div class="item">
           
            <!-- Panel - Welcome Text Blocks -->
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="list-group">
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">WKRP</h3>
                      <h4 class="list-group-item-heading">Cinncinnati, Ohio</h4>
                      <p class="list-group-item-text description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    <span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">DC101</h3>
                      <h4 class="list-group-item-heading">Washington, DC</h4>
                      <p class="list-group-item-text description">Netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                  <a href="participating-orgs" class="list-group-item">
                    <span class="carousel-caption">
                      <h3 class="list-group-item-heading">WNBC</h3>
                      <h4 class="list-group-item-heading">New York, New York</h4>
                      <p class="list-group-item-text description">Habitant ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </span>
                  </a>
                </div>

              </div>
            </div>
            <!-- Panel -->

          </div>

        </div>
        <a class="left carousel-control" href="#orgs-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#orgs-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- END Feature Carousel for the homepage -->

      <div class="btn-group btn-group-justified" role="group" aria-label="Organizations">
        <a href="#" class="btn btn-primary" role="button">View All Participating Organizations</a>
      </div>
    

  </div>
</div>
<!-- END Contributing Stations -->


