<!-- TODO: home page -->
<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">
    <div class="well intro-text">
      <h1>Discover historic programs of publicly funded radio and television across America. Watch and listen.</h1>
    </div>

    <!-- Panel - Search -->
    <div class="panel panel-default large-search naked-panel" id="home-search">
      <div class="panel-body">
          <%= render partial: 'catalog/search_form_big'  %>
      </div>
    </div>
    
    <%= render partial: 'shared/featured_carousel', locals: { gallery: 'home' } %>

    <div class="row" id="welcome-panel">
      <div class="col-md-6 column">

        <h6>About the AAPB</h6>
        <h3 class="list-group-item-heading">A Collaboration with a Long-Term Vision</h3>
        <p class="list-group-item-text">We are a collaboration between WGBH and the Library of Congress with a long-term vision to identify and preserve, as much as possible the historical record of publicly funded broadcasting in America.</p>
        <p class="list-group-item-text"></p>

        <div class="btn-group" role="group" aria-label="...">
          <a href="/about-the-american-archive" title="Learn More About the AAPB" class="btn btn-link btn-sm">Learn More</a>
          <a href="/contact-us" title="Learn More About the AAPB" class="btn btn-link btn-sm">Contact the AAPB</a>
        </div>


      </div>
      <div class="col-md-6 column">
        <%= render partial: 'home/blog'  %>
      </div>
    </div>
    
  </div>
</div>
<!-- END Welcome -->

<!-- Contributing Stations -->
<div class="jumbotron home-jumbotron" id="stations">
  <div class="container">
    
    <%= render partial: 'home/orgs_carousel'  %>

  </div>
</div>
<!-- END Contributing Stations -->