<% @pbcore.instantiations_display.each do |instantiation| %>
  <dd class="holding">
    <strong><%= instantiation.organization %></strong><br>
    <% instantiation.display_text_fields.each do |field, text| %>
      <%= field.to_s.capitalize %>: <%= text %><br>
    <% end %>
  </dd>
<% end %>
<div class="catalog-alert holding-alert">
  <div class="catalog-alert-text">
    If you have a copy of this asset and would like us to add it to our catalog, please <%= link_to 'contact us', '/contact-us' %>.
  </div>
</div>
