<dd class="contributors">
  <dl>
    <% @pbcore.supplemental_content.each do |content| %>
      <b><a href='<%= content[0] %>' target="_blank"><%= content[1] %></a></b><br>
    <% end %>
  </dl>
</dd>
