<div class="page-header catalog-page-header row">
  <div class="col-md-2 col-sm-2 col-xs-2 record-title">
    <p>Record</p>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 catalog-title">
    <h1><%=
      # "title || @page_title" doesn't work
      if defined? title
        title
      else
        @page_title
      end %></h1>
    </div>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Left Column -->
    <div class="col-md-4 column">
      <%= sidebar %>
    </div>
    <!-- END: Left Column -->

    <!-- START: Main Column -->
    <div class="col-md-8">
      <%= main %>
    </div>
    <!-- END: Main Column -->

  </div>
</div>
