<% # TODO: Delete this if we don't end up tweaking it. %>
<% # container for all documents in index view -%>
<script>
  $(document).ready(function(){
    $('.pagination').hide();
  });
  $(window).scroll(function(){
    var $window = $(window);
    var $last = $('.document:last').not('.in-process');
    // Buffer is arbitrary.
    if ($last.size()) {
      if ($window.scrollTop() + $window.height() + 500 > $last.offset().top) {
        $last.addClass('in-process');
        var next_href = $('a[rel=next]').attr('href');
        $.get(next_href, {}, function(response){
          var $response = $(response);
          $('a[rel=next]').attr('href', $response.find('a[rel=next]').attr('href'));
          $('.document:last').parent().append(
            $(response).find('#documents').html()
          );
        });
      }
    }
  });
</script>
<div id="documents" class="row gallery">
  <%= render_gallery_collection documents %>
</div>