<% # TODO: Delete this if we don't end up tweaking it. %>
<% # container for all documents in index view -%>
<div id="documents" class="row gallery">
  <%= render_gallery_collection documents %>
</div>
