<% 
  request.params.try(:[],'f').try(:[],'exhibits').tap do |exhibit_paths|
    exhibit_paths.each do |path|
      %>
        <div>
          <%= Exhibit.find_by_path(path).items[document.id] %>
        </div>
      <%
    end if exhibit_paths
  end
%>