<% 
  request.params.try(:[],'f').try(:[],'exhibits').tap do |exhibit_names|
    exhibit_names.each do |name|
      %>
        <div>
          <%= Exhibit.find_by_name(name).items[document.id] %>
        </div>
      <%
    end if exhibit_names
  end
%>