
<form action="/catalog">
  <input name="q" type="hidden"></input>
  
  <label>Search</label><input id="include"></input>
  
  <label>Field:</label>
  <input type="radio" name="search_field" value="all_fields" checked>All text</input>
  <input type="radio" name="search_field" value="titles">Just titles</input>
  <input type="radio" name="search_field" value="contribs">Just contributors</input>
  
  <label>Exact phrase?</label><input type="checkbox" id="exact"></input>
  
  <label>Exclude</label><input id="exclude"></input>
  
  <br/><input type="submit" value="Search"></input>
</form>

<script>
  $(function(){
    $('form').change(function(){
      var include = $('#include').val();
      var exclude = $('#exclude').val();
      var q = ( $('#exact').prop('checked') ? 
                  ('"' + include + '"') : 
                  include )
            + ( exclude === '' ?
                  '' :
                  (' -"' + exclude + '"') );
      $('[name=q]').val(q);
      console.log(q);
    });
  });
</script>