<div class="page-header">
  <h1>Search Our Catalog</h1>
</div>

<!-- Panel - Search -->
<div class="panel panel-default large-search" id="catalog-search">
  <div class="panel-body">
      <%= render :partial=>'catalog/search_form_big'  %>
  </div>
</div>
<!-- Panel -->

<%= render partial: 'shared/featured_carousel', locals: { gallery: 'search' } %>

