<!-- Panel - Search -->
<div class="panel panel-default search-panel naked-panel" id="catalog-search">
	<div class="panel-body">
		<%= render :partial=>'catalog/search_form_big'  %>
	</div>
</div>
 
<!-- Panel -->
<%= render partial: 'shared/featured_carousel', locals: { gallery: 'search' } %>