<ul class="facet-values list-unstyled">
  <%
    display_facet.items.group_by do |option|
      State.find_by_abbreviation(
        option.value.match(/\((..)\)/)[1]
      ).name
    end.sort.each do |state, options|
  %>
    <li>
      <b><%= render_facet_value('organization', 
                OpenStruct.new(
                  label: state,
                  value: options.map { |o| o.value }.join(AAPB::QUERY_OR)
                )
              ) %></b>
    </li>
    <%
      options.each do |option|
    %>
      <li>
        <%= render_facet_item('organization', OpenStruct.new(value: option.value)) %>
      </li>
    <% end %>
  <% end %>
</ul>