<%# TODO: remove this file when the warning is no longer necessary. %>

<div class="alert alert-info">Note: Media is not yet available.</div>

<%= render 'did_you_mean' %>

<%= render 'constraints' %>

<%= render 'sort_and_per_page' %>