<%# TODO: remove this file when the warning is no longer necessary. %>

<div class="alert alert-info">
  Please note: Media will not be available for research on the website until October 2015. 
  <a href="/on-location">Click here</a>
  for information about researching the collection at the Library of Congress or WGBH.</div>

<%= render 'did_you_mean' %>

<%= render 'constraints' %>

<%= render 'sort_and_per_page' %>