
<div id="time-range-container">
  <div id="times-display" class="row">  
    <span id="start-display"></span>-<span id="end-display"></span>
  </div>

  <div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-9">
      <section id="time-range"></section>
    </div>

    <div id="content-share-container" class="col-md-2">
      <button id="content-share" class="player-button" data-toggle="modal" data-target="#catalogShareModal">Share</button>
    </div>

  </div>

</div>

<div id="clip-message-container">
  <p>This is a segment of a longer program. <a href="/catalog/<%= @pbcore.id %>">Click here to view full-length item.</a></p>
</div>

<div id="times">
  <div id="start-time"></div>
  <div id="end-time"></div>
</div>

<div id="video-duration"><%= @pbcore.seconds %></div>

