<% if @show_transcript %>
<div class="col-sm-12 col-md-6 transcript-div">
  <div class="transcript-header">
    <p>Transcript</p>
    <div class="input-group input-group-sm transcript-search show-transcript-search" role="search">
      <label for="q" class="sr-only">Search Transcript...</label>
      <input aria-label="Search" class="search_q q form-control transcript-search-input" id="transcript-q" name="q" placeholder="Search..." type="search" />

      <span class="input-group-btn transcript-search-btn-group">
        <button type="submit" class="btn btn-primary search-btn transcript-search-btn" id="transcript-search-btn">
          <span class="submit-search-text sr-only">Search</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
    <div class="transcript-slide" style="cursor: pointer;">
      Hide<span class="transcript-circle">-</span>
    </div>
  </div>
  <div class="transcript-view transcript-view-large">
    <div id="transcript" class="transcript-frame">
      <%= raw @transcript_html %>
    </div>
  </div>
</div>
<% else %>
<div class="hidden-sm hidden-xs col-md-2 transcript-div">
  <div class="transcript-header">
    <p>Transcript</p>
    <div class="no-transcript">
      Not Available
    </div>
  </div>
</div>
<% end %>
