<% if @show_transcript %>
  <div id="transcript-state" style="display: none;" class="hidden <%= @transcript_open ? 'open' : 'closed' %>"></div>

  <div class="col-sm-12 col-md-6 transcript-div transcript-view-show">
    <dl class="panel transcript-panel">
      <div class="transcript-panel-heading">
        <dt class="dt-left">Transcript</dt>
        <div class="input-group input-group-sm transcript-search show-transcript-search" role="search">
            <input type="search" placeholder="Search..."/>
            <button data-search="next" class="transcript-search-btn"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
            <button data-search="prev" class="transcript-search-btn"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
            <button data-search="clear" class="transcript-search-btn">✖</button>
        </div>
        <div class="transcript-slide show-transcript" style="cursor: pointer;">Hide
          <span class="transcript-circle">-</span>
        </div>
      </div>
    </dl>
    <div id="transcript" class="transcript-frame transcript-div transcript-view-show">
      <div class="transcript-content">
        <%= raw @transcript_html %>
      </div>
    </div>

    <div id="transcript-message" class="transcript-div">
      <div class="transcript-content">
        <%= @transcript_message %>
      </div>
    </div>
  </div>
<% end %>
