<% if @show_transcript %>
<div class="col-sm-12 col-md-2 transcript-div">
  <div class="transcript-header">
    <p>Transcript</p>
    <div class="input-group input-group-sm transcript-search" role="search">
      <input type="search" placeholder="Search..."/>
      <button data-search="next">&darr;</button>
      <button data-search="prev">&uarr;</button>
      <button data-search="clear">✖</button>
    </div>
    <div class="show-transcript transcript-slide" style="cursor: pointer;">
      Show<span class="transcript-circle">+</span>
    </div>
  </div>
  <div class="transcript-view transcript-view-small">
    <div id="transcript" class="transcript-frame">
      <%= raw @transcript_html %>
    </div>
  </div>
</div>
<% else %>
<div class="hidden-sm hidden-xs col-md-2 transcript-div">
  <div class="transcript-header">
    <p>Transcript</p>
    <div class="no-transcript">
      Not Available
    </div>
  </div>
</div>
<% end %>
