<div>
  <% if params[:f][:access_types] != [PBCore::ALL_ACCESS] %>
    Consider using other search terms, removing filters, or
    <%= 
      link_to(
        'searching all records',
        request.original_fullpath.gsub(
          /f\[access_types]\[\]=[^&]*/,
          'f[access_types][]='+PBCore::ALL_ACCESS
        )) %>,
    not just those with media.
  <% else %>
    Consider using other search terms or removing filters.
  <% end %>
</div>