<div class="exhibit-header">
  <h1>Thank You</h1>
</div>

<div class="row" class="newsletter-section">
  <div class="col-md-12">
    <p>Thank you for signing up for the American Archive of Public Broadcasting Newsletter. If you are interested in further supporting our work, please consider donating at <%= link_to 'americanarchive.org/donate', '/donate' %> or providing <%= link_to 'feedback', '/about-the-american-archive/feedback' %> about your experience.
  </div>
</div>