<%= stylesheet_link_tag 'timeline' %>
<%= javascript_include_tag 'timeline' %>
<div id='timeline-embed' style="width: 100%"></div>
<script type="text/javascript">
  timeline = new TL.Timeline('timeline-embed', 'https://docs.google.com/spreadsheets/d/1ISfXGK8EEuqCGcONWfekjLZhInxFQyFWwBAl2FbkIxs/edit#gid=0', {})
</script>
