/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Button - Default */
.btn-default {
	color: #FFF;
	background-color: #5d60ab;
	border-color: #292a72;
}

	.btn-default:hover {
		color: #FFF;
		background-color: #3c439b;
		border-color: #292a72;
	}

/* Button - Primary */
.btn-primary {
	color: #fff;
	background-color: #292a72;
	border-color: #2e6da4;
}

/* Button - Success */
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

/* Button - Info */
.btn-info {
	color: #3c439b;
	background-color: #FFF;
	border-color: #FFF;

	/*more custom*/
	font-weight:bold;
	text-transform:uppercase;
	border-radius:0;
}

	.btn-info:hover {
		color: #90298e;
		background-color: #FFF;
		border-color: #FFF;
	}

	/*Open Drop button*/
	.open>.dropdown-toggle.btn-info {
		color: #90298e;
		background-color: #DEDEDE;
		border-color: #DEDEDE;
	}

/* Button - Warning */
.btn-warning {
	color: #fff;
	background-color: #ef3f37;
	border-color: #eea236;

	/*more custom*/
	border-radius:0;
}

/* Button - Danger */
.btn-danger {
	color: #fff;
	background-color: #bf202f;
	border-color: #CC0000;
}
