/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Body Styles */
/*body { padding-top: 70px; }*/


/*
 * NAVIGATION STYLES
 */

.navbar {
	background-color:#FFF;
	border:none;
	border-radius: 0;
}

/*Main Nav*/
 .main-nav {
 	margin-bottom:0;
 }

/*Secondary Nav*/
.secondary-navbar {
	background-color:#ececec;
	min-height:32px !important;
}

	.secondary-navbar .navbar-nav > li > a {
		padding-top:5px !important; 
		padding-bottom:5px !important;
	}

/*Logo*/
#header-navbar .navbar-brand {
	background-size: contain;
}


/*Search*/
.navbar-search {
	background-color:#FFF;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 0;
}

	.navbar-search .form-control,
	.navbar-search .btn {
		border: none;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0);
		-webkit-transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
		-o-transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
		transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
	}

		.navbar-search .form-control:focus {
			outline:none;
		}

	.navbar-search .btn {
		background-color:#FFF;
	}

		.navbar-search .btn:hover {
			color:#0066CC;
		}


/*
 * FOOTER STYLES
 */

.footer-links {
	float:left; 
	width:23%;
	margin:0 1%;
	background-color: transparent;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
	box-shadow: 0 1px 1px rgba(0,0,0,0);
}


.footer-links > .panel-heading {
	color: #666;
	background-color: transparent;
	border:none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 5px 0;
	
}

.footer-links .list-group-item {
	padding: 5px 0;
	margin-bottom: -1px;
	background-color: transparent;
	border: none;
}

.footer-links a,
.footer-links a:active,
.footer-links a:visited {
	color:#666;
}

	.footer-links a:hover {
		color:#9f2064;
	}



/* MISC Elements */
		
hr {
    border: 0;
    height: 1px;
    background: #999;
    background-image: -webkit-linear-gradient(left, #D3D3D3, #999, #D3D3D3); 
    background-image:    -moz-linear-gradient(left, #D3D3D3, #999, #D3D3D3); 
    background-image:     -ms-linear-gradient(left, #D3D3D3, #999, #D3D3D3); 
    background-image:      -o-linear-gradient(left, #D3D3D3, #999, #D3D3D3); 
}


/*
 * HOMEPAGE STYLES
 */

/* sets width for Homepage Container */
.blacklight-home #main-container {
	width:100%;
}

/* Remove border radius */
.blacklight-home .jumbotron {
	border-radius:0;
	margin-bottom:0;
}

	/*Set .container width on Homepage Jumbotron*/
	.blacklight-home .home-jumbotron .container {
		width:800px;
	}