
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require  'blacklight_range_limit'
 */

/* Google Fonts: Roboto --------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700,700italic,500,500italic);

/*
 * CHEATING
 */

 * {
 	-webkit-border-radius:0!important; 
  -moz-border-radius:0!important; 
 	border-radius:0!important;

 	-webkit-box-shadow: none!important;
  box-shadow: none!important;
 }



/*
 * HEADER STYLES
 */
#main-container {
	padding-bottom:3em;
}




/* --------- */
/* NAVIGATION STYLES --------- */
/* --------- */

.header .navbar {
	background-color:#FFF;
	border:none;
	border-radius: 0;
}

/*Main Nav*/
 .main-nav {
 	margin-bottom:0;
 }

/*Secondary Nav*/
.secondary-navbar {
	background-color:#ececec;
	min-height:32px !important;
}

	#header-navbar .secondary-nav .navbar-nav > li > a {
		color:#999;
		font-size:0.875em;
		font-weight:400;
		line-height:50px;
		padding-bottom:0;
		padding-top:0;
	}

/*Logo*/
#header-navbar .navbar-brand {
	background: transparent url(/site-ui/logo.png) no-repeat 0 0;
	width: 225px;
	height: 40px;
	background-size: 100% auto;
	margin-left:1em;
	margin-right: 0;
	margin-top:7px;
	padding:0;
	text-indent:-9999em;
}



/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

 #footer {
 	background:#eeeeee url(/site-ui/footer-bg.gif) repeat 0 0;
 	padding:2em 0;
 	text-align:center;
 }

 #footer .row.two a {
 	color:#666;
 }

	/* Row One --------- */

	/* logo */
	.footer-logo {
		background:url(/site-ui/logo.png) no-repeat center 0;
		background-size:100% auto;
		display:inline-block;
		height:41px;
		margin:0 auto;
		width:250px;
		text-indent:-9999em;
	}



/* Row Four --------- */

/*the list*/
.collab {
	display: inline-block;
	margin:0 auto;
	width:100%;
}
	/*list item*/
	.collab li {
		float:left;
		width:30%;
	}

		/*list item - title*/
		.collab li.title {
			float:left;
			width:40%;
		}

		/*link*/
		.collab li a {
			background-repeat:no-repeat;
			background-size:auto 100%;
			display:block;
			height:50px;
			width:100%;
			text-indent:-9999em;
		}
			/*link-loc*/
			.collab li.loc a {
				background-image:url(/site-ui/footer-loc.png);
				background-position:right 0;

			}
			/*link-wgbh*/
			.collab li.wgbh a {
				background-image:url(/site-ui/footer-wgbh.png);
				background-position:left 0;
			}


			/*Social Links in the Footer */
			ul.social {
				display:inline-block;
				margin:0 auto;
				width:auto;
			}

			ul.social li {
				float:left;
				height:32px;
				width:32px;
				margin-right:1em;
			}

				ul.social a {
					background-image:url(/site-ui/aapb-site-sprite.png);
					background-repeat:no-repeat;
					background-position:0 -350px;
					background-size: 512px auto;
					display:block;
					height:32px;
					opacity:.8;
					text-indent:-9999em;
					width:32px;
				}

					ul.social .twitter a {
					background-position:-80px -350px;
					
				}

				ul.social .facebook a {
					background-position:-40px -350px;
				}

				ul.social a:hover {
					opacity:1;
				}



	.collab h3 {
		font-size:.9em;
		margin:0 2em;
	}

/* MISC Elements */
		
hr {
    border: 0;
    height: 1px;
    background: #999;
}


/* REGION - THis is an element meant to contain other elements and center align them according to the design */
.region {
	margin:0 auto;
	padding:0 10px;
}



/* -------------------- */
/* FEATURED CAROUSEL ---------- */
/* -------------------- */
.featured-carousel .carousel-inner {
	margin:0 auto;
	width:90%;
}

	.featured-carousel .list-group-item {
		background-color:rgba(23,16,40,.05);
		border:none;
		float:none;
		margin:0 0 1px;
		overflow:hidden;
		position:relative;
		width:100%;
	}

		/*On Homepage*/
		.blacklight-home .featured-carousel .list-group-item {
			background-color:#171028;
			background-color:rgba(23,16,40,.25);
		}


/*THe Controls*/
.featured-carousel .carousel-control {
	background-image:none;
	width: 5%;
  opacity: 1;
  filter: alpha(opacity=100);
}
		
	/*HOmepage*/
	.blacklight-home .featured-carousel .carousel-control {
		color:#FFF;
	}

/* The Image */
.featured-carousel .list-group-item img {
	float:left;
	height:auto;
	width:35%;
}

	/* Hover State */
	.blacklight-home .list-group-item:hover {
		background-color:transparent;
	}


/* THe Caption */
.featured-carousel .list-group-item .carousel-caption {
	display:block;
	float:left;
	padding:3%;
	position:static;
	text-align:left;
	width:63%;
}

	/* Homepage - Caption */
	.blacklight-home .featured-carousel .list-group-item .carousel-caption,
	a.list-group-item .list-group-item-heading {
		 color: #3C439B;
	}

	/* The Title/Attribution */
	.featured-carousel .list-group-item .carousel-caption h3,
	.featured-carousel .list-group-item .carousel-caption h4,
	.featured-carousel .list-group-item .carousel-caption p {
		color: #3C439B;
		font-weight:300;
		margin:0 0 .25em;
		padding:0;
		text-shadow: none;
	}

		/* Homepage - Title/Attribution */
		.blacklight-home .featured-carousel .list-group-item .carousel-caption h3,
		.blacklight-home .featured-carousel .list-group-item .carousel-caption h4,
		.blacklight-home .featured-carousel .list-group-item .carousel-caption p {
			color: #FFF;
		}

		/* The Title */
		.featured-carousel .list-group-item .carousel-caption h3 {
			font-size: 1.3em;
		}

		.featured-carousel .list-group-item .carousel-caption h4 {
			font-size: .8em;
		  margin-bottom: 1em;
		  text-transform: uppercase;
		  font-weight: 600;
		}

		/* The Attribution */
		.featured-carousel .list-group-item .carousel-caption p {
			font-size: .9em;
		}

		 .featured-carousel .list-group-item .carousel-caption .description {
		 	display:none;
		 }


		/* Stations Carousel */
		#orgs-carousel.featured-carousel .list-group-item {
			background-color:rgba(255,255,255,.2);
		}



/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */

/* This is a record display in a search result*/

#documents .document {
	margin-top:0;
	padding-top:0;
	margin-bottom:2em;
	padding-bottom:2em;
}

/* Image container */
.blacklight-catalog .document .media-left {
	padding-right:3%;
	width:40%;
}

	.blacklight-catalog .document .media-left img {
		-webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,.15);
		box-shadow: 2px 2px 5px 2px rgba(0,0,0,.15);
	}
	
	/* Image:hover; */
	.blacklight-catalog .document .media-left a:hover img {
		opacity:.8;
	}

	/* Media Body */
	dl {
		border-bottom:1px solid #e4e4e4;
		font-size:0.875em;
		margin:0 0 1em;
	}

	
		dt {
			color:#9f2064;
			margin:0 0 .75em;
		}

		dd {
			margin:0 0 .75em;
		}


		.media-body dl {
			border:none;
		}

		.media-body dt,
		.media-body dd {
			margin:0;
		}

		/*Trcky dl*/
		dl:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	* html dl             { zoom: 1; } /* IE6 */
	*:first-child+html dl { zoom: 1; } /* IE7 */




/*---------*/
/* SEARCH ---------*/
/*---------*/


/*universal*/ 
.search-panel {
	margin:0 auto 2em;
}

.search-query-form .input-group {
	border:1px solid #CCC;
	width:100%;
}

/*select list*/
.search-query-form .input-group .input-group-addon {
	background-color:rgba(0,0,0,.1);
	border:none;
	padding:0;
	width:30%;
}

	.search-query-form .input-group-lg .input-group-addon {
		width:20%;
	}
        
	.search-query-form .input-group-lg option {
		background-color:#292A72;
	}
	
	/*select list*/
	.search-query-form .input-group .input-group-addon .search_field {
		background-color: transparent;
		border: none;
		padding:0;
		width:100%;
	}


/* field */
.search-query-form .input-group .form-control {
	border: none;
}

/*button*/
.search-query-form .input-group .search-btn {
	background-color:#FFF;
	color: #292A72;
	margin-left:0;
}



/* SMALL */ 
.search-query-form .input-group-sm,
.search-query-form .input-group-sm .input-group-addon
.search-query-form .input-group-sm .search_field,
.search-query-form .input-group-sm .form-control,
.search-query-form .input-group-sm .search-btn {
	height:30px;
}
	
	/*the button*/
	.search-query-form .input-group-sm .input-group-btn {
		width:30px;
	}

		/*in the header*/
		.secondary-nav .search-query-form {
			margin:.5em 0;
			width:300px;
		}

/* Large */ 
.search-query-form .input-group-lg,
.search-query-form .input-group-lg .input-group-addon
.search-query-form .input-group-lg .search_field,
.search-query-form .input-group-lg .form-control,
.search-query-form .input-group-lg .search-btn {
	height:50px;
}
	
	/*the button*/
	.search-query-form .input-group-lg .input-group-btn {
		width:50px;
	}


	/*on the homepage*/
	.blacklight-home .search-query-form .input-group-lg {
		border:none;
		margin:0 auto;
		width:75%;
	}

		/*select list*/
		.blacklight-home .search-query-form .input-group-lg .input-group-addon .search_field {
			color:#FFF;
		}


/*THis is for a search in the left column*/
.column .panel-primary {
	border:none;
}

/* Date range slider */

.slider-handle {
    background-color: #3c439b !important;
    background-image: none !important;
    opacity: 1.0 !important;
    border-radius: 10px !important;
}

.slider_js .slider-selection {
    background-color: #dddddd !important;
}


/* -------------------- */
/* RECORD ---------- */
/* -------------------- */
.org-o-tron {
	padding:2em;
	text-align:center;

	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(100%, rgba(233,233,233,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=1 );
}

	.org-logo {
		height:80px;
		width:auto;
	}


/* -------------------- */
/* ORG State list ---------- */
/* -------------------- */
.org-state .btn-link {
	color:#5D60AB;
}


/* -------------------- */
/* RECORD ---------- */
/* -------------------- */

/* thumb display */
.media-thumb {
	text-align:center;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(100%, rgba(233,233,233,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=1 );
}

	.media-thumb img {
		margin:0 auto;
    width: 50%;
	}


/* Navbar Toggle */
.column .navbar-default .navbar-toggle, 
.column .navbar-default .facets- {
	border:none;
}

	.column .navbar-default .navbar-toggle .icon-bar, 
	.column .navbar-default .facets-toggle .icon-bar {
		background-color:#FFF;
	}

	.navbar-default .navbar-toggle:hover, 
	.navbar-default .facets-toggle:hover, 
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .facets-toggle:focus {
	  background-color: transparent;
	}




/* thumb display */
.media-thumb {
	text-align:center;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(100%, rgba(233,233,233,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(233,233,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=1 );
}

	.media-thumb img {
		margin:0 auto;
    width: 50%;
	}


/* Navbar Toggle */
.column .navbar-default .navbar-toggle, 
.column .navbar-default .facets- {
	border:none;
}

	.column .navbar-default .navbar-toggle .icon-bar, 
	.column .navbar-default .facets-toggle .icon-bar {
		background-color:#FFF;
	}

	.navbar-default .navbar-toggle:hover, 
	.navbar-default .facets-toggle:hover, 
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .facets-toggle:focus {
	  background-color: transparent;
	}


	/* ---------- */
/* PAGE BANNERS ---------- */
/* ---------- */

.page-banner {
	height:auto;
	margin:0 0 1em;
	width:100%;
}


/* ------------------------------------------------------------ */
/* BREAKPOINTS ---------------------------------------- */
/* ------------------------------------------------------------ */

/* Tablet ---------- */
@media (min-width: 768px) {

	/* INNER */
	.region,
	.sticky-well.affix .btn-group {
		padding:0;
		width:750px;
	}


	/*
	 * HEADER STYLES
	 */
	.header {
		background:url(/site-ui/aapb-site-sprite.png) repeat-x 0 0;
		position:relative;
		padding:70px 0 10px;
	}

	/* Primary Nav */

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1em;
		font-weight:700;
	}


	/* Secondary NAvigation */
	.secondary-nav {
		background-color:#F0F0F0;
		height:50px;
		position:absolute;
		right:0;
		top:-60px;
		text-align:center;
		width:100%;
		z-index:1;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			float:none;
			margin:0 auto;
		}


/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

	/*Footer row*/
	#footer .row.two {
		text-align:left;
	}

	/*This Well resizes the column*/
	.well.footer-links {
	  width: 75%;
	}





/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */
	
	/* Image container */
	.blacklight-catalog .document .media-left {
		width:35%;
	}

		dt {
			color:#9f2064;
			float:left;
			width:30%;
		}

		dd {
			float:right;
			width:68%;
		}



/* -------------------- */
/* RECORD ---------- */
/* -------------------- */

/* thumb display image */
.media-thumb img {
  width: 30%;
}


/* -------------------- */
/* COLUMN NAV ---------- */
/* Section specific nav in a column */
/* -------------------- */

/*Column Nav - Section specific nav in a column*/
.column .navbar-default {
  background-color:#FFF;
  border:none;
}

.column .facets .top-panel-heading, 
.column .navbar-header {
	float:none;
}

.column .navbar-default .navbar-collapse, 
.column .navbar-default #facet-panel-collapse, 
.column .navbar-default .navbar-form {
	padding-left:0;
	padding-right:0;
}

.column .navbar-nav {
  width: 100%;
}

	.column .navbar-nav > li {
	  float: none;
	}


}/* END: Tablet ---------- */

/* Desktop ---------- */
@media (min-width: 992px) {

	/* INNER */
	.region {
		padding:0;
		width:970px;
	}


	/*Logo*/
	#header-navbar .navbar-brand {
		background-size: auto 100%;
		height: 51px;
		margin-left: 1em;
		margin-top:-17px;
		width: 320px;
	}

	/*Primary NAv*/

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1.125em;
		font-weight:700;
	}

	/* Secondary NAvigation */
	.secondary-nav {
		background-color:transparent;
		width:auto;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			margin:0 auto;
		}


/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

/* Row Two --------- */
/* the row */
.row.two {
	text-align:left;
}

/* Row Four --------- */

	/*the list*/
	.collab {
		width:60%;
	}

		.collab .list-group-item,
		.collab .list-group-item.title {
		  width: 33.333%;
		}

		.collab .list-group-item a {
		  height: 70px;
		}


/* --------- */
/* NAVBAR in a Column --------- */
/* Styles only - functionality is in bootstrap-killer.css */
/* --------- */
.column .navbar {
	background-color:#FFF;
	max-width:390px;
	margin-right: 0;
	margin-left: 0;
}

	.column .navbar-nav,
	.column .navbar-nav > li,
	.column .navbar-left,
	.column .navbar-right,
	.column .navbar-header {
		float:none !important;
	}

		.column .container-fluid {
		  padding-left: 0;
		  padding-right: 0;
		}


		.column .navbar-default .navbar-nav > li > a {
			color:#3c439b;
			background-color:#FFF;
		}

			.column .navbar-default .navbar-nav > li > a:hover {
				color:#292A72;
				background-color:#F6F6F6;
			}

		.column .nav {
			/*background-color:#EFEFEF*/
		}

		.column .navbar-collapse {
			padding:0;
		}


/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */
	
	/* Image container */
	.blacklight-catalog .document .media-left {
		width:25%;
	}


/* -------------------- */
/* FEQTURED CAROUSEL ---------- */
/* -------------------- */

.featured-carousel .list-group-item {
	float:left;
	height:300px;
	margin:0 .25%;
	overflow:hidden;
	position:relative;
	width:32.833%;
	text-align:center;
	overflow:hidden;
	position:relative;
}

	/* THe Caption */
.featured-carousel .list-group-item .carousel-caption,
.featured-carousel a.list-group-item .list-group-item-heading {
	color: #FFF;
}

	
	/* The Title/Attribution */
	.featured-carousel .list-group-item .carousel-caption h3,
	.featured-carousel .list-group-item .carousel-caption h4,
	.featured-carousel .list-group-item .carousel-caption p {
		color: #FFF;
	}
	
	/*Orgs caroiusel*/
	#orgs-carousel.featured-carousel .list-group-item {
		min-height:300px;
	}

/* The Image */
.featured-carousel .list-group-item img {
	float:none;
	height:100%;
	width:auto;
	max-width:none;
	-webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover {
		background-color:transparent;
	}


/* THe Caption */
.featured-carousel .list-group-item .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,.85);
	bottom:0;
	display:block;
	left:0;
	padding:5%;
	position:absolute;
	text-align:left;
	width:100%;
	z-index:1;
}
		
	/* THe Caption - Stations */
	#orgs-carousel.featured-carousel .list-group-item .carousel-caption {
		background-color:transparent;
		position:static;
	}

/* Hover: THe Caption */
.featured-carousel .list-group-item:hover .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,1);

}

/*Hover State*/
.featured-carousel .list-group-item:hover h3 {
	text-decoration:underline;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover img {
		-webkit-transform: scale(1.2);
    transform: scale(1.2);
	}

	/* Hiover State - Stations */
	#orgs-carousel.featured-carousel .list-group-item:hover {
		background-color:rgba(255,255,255,.1);
		position:static;
	}

/* THe Caption */
		/* The Title */
		.featured-carousel .list-group-item .carousel-caption h3 {
			font-size: 1.2em;
		}

		.featured-carousel .list-group-item .carousel-caption h4 {
			font-size: 1em;
			margin-bottom:1em;
			text-transform:uppercase;
		}

			.featured-carousel .list-group-item .carousel-caption .description {
			 	display:block;
			 }

		/* The Attribution */
		.featured-carousel .list-group-item .carousel-caption p {
			font-size: 1em;
		}


	


}/* END: Desktop ---------- */

/* Wide Desktop ---------- */
@media (min-width: 1200px) {

	/* INNER */
	.region {
		padding:0;
		width:1170px;
	}

	/*Logo*/
	#header-navbar .navbar-brand {
		height: 61px;
		margin-top: -29px;
  	width: 380px;
	}

}/* END: Wide Desktop ---------- */

/* Video Player ---------------- */
.video-js {
    margin-left: auto;
    margin-right: auto;
}
/* END: Video Player ----------- */

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */