/*
 * HOMEPAGE STYLES
 */

/* sets width for Homepage Container */
.blacklight-home #main-container {
	padding-bottom:0;
	width:100%;
}

/* Remove border radius */
.blacklight-home .jumbotron {
	border-radius:0;
	margin-bottom:0;
	padding:3em 0;
}

	/*Set .container width on Homepage Jumbotron*/
	.blacklight-home .home-jumbotron .container {
		width:100%;
	}

	/*Intro text box for each section*/
	.intro-text {
		background-color:transparent;
		border:0;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
		margin:1em auto 2em;
		padding:0;
		width:98%;
	}

/* Homepage Relative Nav */
/*This is on hold for the time being*/
.sticky-well {
	background-color: rgba(255,255,255,.25);
	border:0;
	border-radius:0;
	box-shadow:none;
	height:50px;
	margin:2em 0;
	padding:0;
	text-align:center;
}
	
	/*This is when it gets picked up by then Affix plugin*/
	.sticky-well.affix {
		background:#FFF url(/site-ui/aapb-site-sprite.png) repeat-x 0 -7px;
		border-bottom:1px solid #CCC;
		height:60px;
		left:0;
		margin:0;
		top:0;
		width:100%;
		z-index:10000!important;
	}

		.sticky-well .btn-group {
			margin:0 auto;
			width:auto;
		}

		.sticky-well.affix .btn-group {
			margin-top:6px;
			width:auto;
		}


/* Home Rel Nav Styles */
.home-rel-nav .btn,
.home-rel-nav .btn:active {
	-webkit-box-shadow: none;
  box-shadow: none;
}

.home-rel-nav .btn-default {
	color: #FFF;
	background-color: transparent;
	border:none;
	font-size:1em;
	line-height: 50px;
	padding:0 .85em;
	text-transform:uppercase;
}

	.home-rel-nav.affix .btn-default {
		color: #004840;
	}

	.home-rel-nav .btn:hover {
		background-color: rgba(255,255,255,.35);
	}


		.home-rel-nav.affix .home-rel-nav-welcome {
			background:url(/site-ui/logo-mobile.png) no-repeat center 0;
			height:60px;
			margin:0;
			padding:0;
			text-indent:-9999em;
			width:60px;
		}

/* -------------------- */
/* WELCOME PANEL ---------- */
/* -------------------- */

/* TODO: change to class, since we're using it twice. */
#welcome-panel {
	background-color:rgba(255,255,255,.25);
	margin-bottom:2em;
	margin-top:2em;
}

#welcome-panel .column {
	padding:2em;
}
	
	#welcome-panel *,
	#welcome-panel .btn-link:link, 
	#welcome-panel .btn-link:visited {
		color:#FFF;
	}

		#welcome-panel h6 {
			font-size:.95em;
			margin:0 0 1em;
		}

		#welcome-panel h3 {
			font-size:1.5em;
		}

		#welcome-panel p {
			font-size:1em;
		}

		#welcome .btn-group {
			border-top:1px solid #FFF;
			width:100%;
		}



/* Home One - Welcome */
.home-jumbotron {
	background-image:none;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	overflow:hidden;
}

	.home-jumbotron .container {
		position:relative;
		z-index:2;
	}




	/* Info on this technique can be found here - http://css-tricks.com/snippets/css/transparent-background-images/ */
	.home-jumbotron:after {
		content: "";
		left:0;
		min-height:75em;
		position:absolute;
		top:0;
		width:100%;
		z-index:1;
	}

	/* Home Jumbotron - Welcome */
	#welcome {
		background-color:rgb(60,67,155);
		background-image:none;
	}

		#welcome:after { background-color:rgba(60,67,155,.85); }


	/* Home Jumbotron - Contributing Stations */
	#stations {
		background-color:rgb(239,63,55);
		background-image:none;
	}

		#stations:after { background-color:rgba(239,63,55,.85); }

	/* Home Jumbotron - Featured Collections */
	#collections {
		background-color:rgb(159,32,100);
		background-image:none;
	}

		#collections:after { background-color:rgba(159,32,100,.85); }

	/* Home Jumbotron - Browse */
	#browse {
		background-color:rgb(144,41,142);
		background-image:none;
	}

		#browse:after { background-color:rgba(144,41,142,.85); }
                
	/* Home Jumbotron - Video */
	#video {
		background-color:rgb(158,32,100);
		background-image:none;
	}

		#video:after { background-color:rgba(158,32,100,.85); }


	/* Home Jumbotron - Curated Exhibitions */
	#exhibits {
		background-color:rgb(44,42,115);
		background-image:none;
	}

		#exhibits:after { background-color:rgba(44,42,115,.85); }







/* -------------------- */
/* BREAKPOINTS ---------- */
/* -------------------- */


/* Tablet ---------- */
@media (min-width: 768px) {

	/* Remove border radius */
	.blacklight-home .jumbotron {
		padding:2em 1em;
	}

	/*Set .container width on Homepage Jumbotron*/
	.blacklight-home .home-jumbotron .container {
		width:960px;
	}

	/*Intro text box for each section*/
	.intro-text {
		width:80%;
	}





/* -------------------- */
/* WELCOME PANEL ---------- */
/* -------------------- */

#welcome-panel .list-group-item {
	margin:0 1%;
	min-height:320px;
	padding:3%;
	width:48%;
}

		#welcome-panel .list-group-item h3 {
			font-size:1.8em;
		}

		#welcome-panel .list-group-item p {
			font-size:1.2em;
		}


		

}/* END: Tablet ---------- */



/* Desktop ---------- */
@media (min-width: 992px) {





	/* Home Jumbotron - Welcome */
	#welcome {
		background-image:url(/home-bg/home-one.jpg);
	}


	/* Home Jumbotron - Contributing Stations */
	#stations {
		background-image:url(/home-bg/home-two.jpg);
	}

        /* Home Jumbotron - Video */
	#video {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-one.jpg);
	}
        
	/* Home Jumbotron - Featured Collections */
	#collections {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-one.jpg);
	}
        
	/* Home Jumbotron - Browse */
	#browse {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-frying-pans.jpg);
	}

	/* Home Jumbotron - Featured Collections */
	#staff {
		background-image:url(/home-bg/home-four.jpg);
	}

	/* Home Jumbotron - Curated Exhibitions */
	#exhibits {
		background-image:url(/home-bg/home-three.jpg); 
	}





}/* END: Desktop ---------- */



/* Wide Desktop ---------- */
@media (min-width: 1200px) {

}/* END: Wide Desktop ---------- */





		