/*
 * HOMEPAGE STYLES
 */

/* sets width for Homepage Container */
.blacklight-home #main-container {
	padding-bottom:0;
	width:100%;
}

/* Remove border radius */
.blacklight-home .jumbotron {
	border-radius:0;
	margin-bottom:0;
	padding:3em 0;
}

	/*Set .container width on Homepage Jumbotron*/
	.blacklight-home .home-jumbotron .container {
		width:100%;
	}

	/*Intro text box for each section*/
	.intro-text {
		background-color:transparent;
		border:0;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
		margin:1em auto 2em;
		padding:0;
		width:98%;
	}


/* Sticky Nav on the Homepage --------- */
#homenav {
	background-color:transparent;
	border:none;
	left: 0;
	padding:0;
  position: absolute;
  text-align: center;
  top: 18em;
  width: 100%;
  z-index: 10;
}
	
	

	#homenav.affix {
		background: url(/site-ui/aapb-site-sprite.png) repeat-x 0 0;
		background-color:rgba(24,18,40,.8);
		left:0;
		padding: 1.6em 0 .8em;
		position:fixed;
		width:100%;
		top:0;
	}

		#homenav.affix .aa-link {
			display:block;
		}

/*the list*/
#homenav .nav {
	display: inline-block;
  margin: 0 auto;
  width: auto;
}

	/*logo link*/
	#homenav .aa-link {
		display:none;
	}

		/*links*/
		#homenav a {
			color:#FFF;
		}

		#homenav a:hover {
			background-color:rgba(24,18,40,.7);
		}

		/*logo link*/
		#homenav .aa-link a {
			background:#000 url(/site-ui/logo-mobile.png) no-repeat 0 0;
			background-size:44px 44px;
			display:block;
			height:44px;
			margin:0;
			padding:0;
			width:44px;
			text-indent:-9999em;
		}



/* -------------------- */
/* WELCOME PANEL ---------- */
/* -------------------- */

/* TODO: change to class, since we're using it twice. */
#welcome-panel {
	background-color:rgba(255,255,255,.25);
	margin-bottom:2em;
	margin-top:2em;
}

#welcome-panel .column {
	padding:2em;
}
	
	#welcome-panel *,
	#welcome-panel .btn-link:link, 
	#welcome-panel .btn-link:visited {
		color:#FFF;
	}

		#welcome-panel h6 {
			font-size:.95em;
			margin:0 0 1em;
		}

		#welcome-panel h3 {
			font-size:1.5em;
		}

		#welcome-panel p {
			font-size:1em;
		}

		#welcome .btn-group {
			border-top:1px solid #FFF;
			width:100%;
		}



/* Home One - Welcome */
.home-jumbotron {
	background-image:none;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	overflow:hidden;
}

	.home-jumbotron .container,
	.home-jumbotron .container-fluid {
		position:relative;
		z-index:2;
	}




	/* Info on this technique can be found here - http://css-tricks.com/snippets/css/transparent-background-images/ */
	.home-jumbotron:after {
		content: "";
		height:100%;
		left:0;
		min-height:75em;
		position:absolute;
		top:0;
		width:100%;
		z-index:1;
	}

	/* Home Jumbotron - Welcome */
	#welcome {
		background-color:rgb(60,67,155);
		background-image:none;
	}

		#welcome:after { background-color:rgba(60,67,155,.85); }


	/* Home Jumbotron - Contributing Stations */
	#stations {
		background-color:rgb(239,63,55);
		background-image:none;
	}

		#stations:after { background-color:rgba(239,63,55,.85); }

	/* Home Jumbotron - Featured Collections */
	#collections {
		background-color:rgb(159,32,100);
		background-image:none;
	}

		#collections:after { background-color:rgba(159,32,100,.85); }

	/* Home Jumbotron - Browse */
	#browse {
		background-color:rgb(144,41,142);
		background-image:none;
	}

		#browse:after { background-color:rgba(144,41,142,.85); }
                
	/* Home Jumbotron - Video */
	#video {
		background-color:rgb(158,32,100);
		background-image:none;
	}

		#video:after { background-color:rgba(158,32,100,.85); }




/*Browse THe Collection*/

.browsable {
  text-align:center;
  padding:2em;
}

	.browsable a {
	  display:inline-block;
	  width: 120px; 
	  height: 120px; 
	  position: relative;
	  background-color:rgba(255,255,255,.3);
	  border-radius: 50%!important;
	  border:2px solid #793077;
	  box-sizing: border-box;
	  word-wrap: break-word;
	  color:#FFF!important;
	  font-size:14px;
	  text-shadow: 1px 1px 0 #000;
	  transition: all .15s ease-in-out;
	  margin:0;
	}


		.browsable a span {
		  position: absolute; 
		  left: 0; 
		  top: 0; 
		  width: 100%; 
		  height: 100%; 
		  display: table; 
		}

			.browsable a span strong {
			  display: table-cell; 
			  vertical-align: middle; 
			  text-align: center; 
			  padding:10px;
			  font-weight:normal;
			  word-wrap: break-word;
			}

	a:hover {
	  background-color:rgba(255,255,255,.1);
	  transform: scale(1.1);
	}

	.hidden {
	  transform: scale(0);
	}

	.browsable h1 {
	  display:none;
	}

	.browsable.empty h1 {
	  display:block;
	}


/* -------------------- */
/* BREAKPOINTS ---------- */
/* -------------------- */


/* Tablet ---------- */
@media (min-width: 768px) {

	/* Remove border radius */
	.blacklight-home .jumbotron {
		padding:4em 1em 2em;
	}

		.blacklight-home .jumbotron#welcome {
			padding-top:2em;
		}

	/*Set .container width on Homepage Jumbotron*/
	.blacklight-home .home-jumbotron .container {
		width:960px;
	}

	/*Intro text box for each section*/
	.intro-text {
		width:80%;
	}


	/* FLoating Navigation on Homepage */
	#homenav {
	    top: 16em;
	}





/* -------------------- */
/* WELCOME PANEL ---------- */
/* -------------------- */

#welcome-panel .list-group-item {
	margin:0 1%;
	min-height:320px;
	padding:3%;
	width:48%;
}

		#welcome-panel .list-group-item h3 {
			font-size:1.8em;
		}

		#welcome-panel .list-group-item p {
			font-size:1.2em;
		}


		

}/* END: Tablet ---------- */



/* Desktop ---------- */
@media (min-width: 992px) {





	/* Home Jumbotron - Welcome */
	#welcome {
		background-image:url(/home-bg/home-one.jpg);
	}


	/* Home Jumbotron - Contributing Stations */
	#stations {
		background-image:url(/home-bg/home-two.jpg);
	}

        /* Home Jumbotron - Video */
	#video {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-one.jpg);
	}
        
	/* Home Jumbotron - Featured Collections */
	#collections {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-one.jpg);
	}
        
	/* Home Jumbotron - Browse */
	#browse {
                /* TODO: a different, distinct image? */
		background-image:url(/home-bg/home-frying-pans.jpg);
	}

	/* Home Jumbotron - Featured Collections */
	#staff {
		background-image:url(/home-bg/home-four.jpg);
	}


	/* FLoating Navigation on Homepage */
	#homenav {
	   top: 18em;
	}


}/* END: Desktop ---------- */



/* Wide Desktop ---------- */
@media (min-width: 1200px) {

}/* END: Wide Desktop ---------- */





		