
$grid-item-height: 250px;

.documents-grid-view {
  .document {
    border-bottom: none;
    height: $grid-item-height;
  }

  .thumbnail {
    height: $grid-item-height;
    overflow: hidden;
    img {
      height: 168px; 
      // (250 - 13*2) * (3/4)
      // -- Grid cells are square, so width == height.
      // -- 13 is the padding+margin on each side, coming from a couple different rules.
    }
  }
}