/* -------------------- */
/* FEATURED CAROUSEL ---------- */
/* -------------------- */
.featured-carousel .carousel-inner {
	margin:0 auto;
	width:90%;
}

	.featured-carousel .list-group-item {
		background-color:rgba(23,16,40,.05);
		border:none;
		float:none;
		margin:0 0 1px;
		overflow:hidden;
		position:relative;
		width:100%;
	}

		/*On Homepage*/
		.blacklight-home .featured-carousel .list-group-item {
			background-color:#171028;
			background-color:rgba(23,16,40,.25);
		}

		.blacklight-home .featured-carousel .list-group a:focus {
			outline: #fff 5px solid;
		}


/*THe Controls*/
.featured-carousel .carousel-control {
	background-image:none;
	width: 5%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel-control button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

	/*HOmepage*/
	.blacklight-home .featured-carousel .carousel-control {
		color:#FFF;
	}

/* The Image */
.featured-carousel .list-group-item img {
	float:left;
	height:auto;
	width:35%;
}

	/* Hover State */
	.blacklight-home .list-group-item:hover {
		background-color:transparent;
	}

/* THe Caption */
.featured-carousel .list-group-item .carousel-caption {
	display:block;
	float:left;
	padding:3%;
	position:static;
	text-align:left;
	width:63%;
}

	/* Homepage - Caption */
	.blacklight-home .featured-carousel .list-group-item .carousel-caption,
	a.list-group-item .list-group-item-heading {
		 color: #3C439B;
	}

	/* The Title/Attribution */
	.featured-carousel .list-group-item .carousel-caption h3,
	.featured-carousel .list-group-item .carousel-caption h4,
	.featured-carousel .list-group-item .carousel-caption p {
		color: #3C439B;
		font-weight:300;
		margin:0 0 .25em;
		padding:0;
		text-shadow: none;
	}

		/* Homepage - Title/Attribution */
		.blacklight-home .featured-carousel .list-group-item .carousel-caption h3,
		.blacklight-home .featured-carousel .list-group-item .carousel-caption h4,
		.blacklight-home .featured-carousel .list-group-item .carousel-caption p {
			color: #FFF;
		}

		/* The Title */
		.featured-carousel .list-group-item .carousel-caption h3 {
			font-size: 1.3em;
		}

		.featured-carousel .list-group-item .carousel-caption h4 {
			font-size: .8em;
		  margin-bottom: 1em;
		  text-transform: uppercase;
		  font-weight: 600;
		}

		/* The Attribution */
		.featured-carousel .list-group-item .carousel-caption p {
			font-size: .9em;
		}

		 .featured-carousel .list-group-item .carousel-caption .description {
		 	display:none;
		 }


		/* Stations Carousel */
		#orgs-carousel.featured-carousel .list-group-item {
			background-color:rgba(255,255,255,.2);
		}

		.right.carousel-control.with-pause {
		  left: auto;
		  right: 0;
		  bottom: 0;
		  height: 100%;
		  background-image: none;
			position: absolute;
		}

		#control-holder-right-top {
			position: relative;
			height: 60%;
			width: 100%;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			a:focus {
	      outline: #fff 3px solid;
			}
		}

		#control-holder-right-bottom {
			position: relative;
			height: 40%;
			width: 100%;
			button {
				display: block;
				width: 100%;
				height: 100%;
			}
			button:focus {
	      outline: #fff 3px solid;
			}
		}

		span.glyphicon.glyphicon-chevron-right.white {
		  position: absolute;
		  top: 83%;
		}

		span.glyphicon.glyphicon-pause.white {
		  position: absolute;
		  top: 0;
		  left: 20%
		}

		span.glyphicon.glyphicon-play.white {
		  position: absolute;
		  top: 0;
		  left: 20%
		}

		.white {
			color: #fff;
		}

		.carousel-glyphicon {
			display: block;
			position: absolute;
			top: 0px;
			margin-left: 5px;
		}

		.pauseButton, .playButton {
			top: 0;
			background-color: transparent;
			border: none;
		}

	.blacklight-home .list-group-item {
		a:focus {
	  	outline-color: #fff 1px solid;
	  }
	}
