/* -------------------- */
/* EMBED ---------- */
/* -------------------- */

.embed-row {
  max-width: 1250px;
  padding: 15px;
  margin: 0;
}

.embed-player-row {
  margin: 0;
  background-color: #f1f1f1;
  padding: 10px;
}

.embed-player {
  padding: 0;
}

.embed-data {
  padding: 10px;
  p {
    margin: 0;
    padding: 10px 0;
  }
}
