



















	/* ---------- */
/* PAGE BANNERS ---------- */
/* ---------- */

.page-banner {
	height:auto;
	margin:0 0 1em;
	width:100%;
}

	.view-all-gallery {
		background: #454ea1 url(/site-ui/aapb-site-sprite.png) no-repeat -240px -675px;
		text-align:center;
	}

	.view-all-gallery h3 {
                color:#FFF;
                padding: 0;
	}


	/* Featured Exhibit BUtton */
	.btn-featured-record:link,
	.btn-featured-record:visited,
	.btn-featured-record:active {
            background: url(/site-ui/aapb-site-sprite.png) no-repeat -240px -675px;
            background-color: #2b2a72;
            color: #FFFFFF;
            display: block;
            line-height: 1.6em;
            padding: 1em;
        }

        .btn-featured-record:hover {
            background-color: #454ea0;
        }

        .btn-featured-record .glyphicon {
          float:left;
          font-size:1.4em;
          margin-right:.4em;
          text-shadow: 0 1px 1px #000;
        }

/* ------------------------------------------------------------ */
/* BREAKPOINTS ---------------------------------------- */
/* ------------------------------------------------------------ */

/* Tablet ---------- */
@media (min-width: 768px) {

	/* INNER */
	.region,
	.sticky-well.affix .btn-group {
		padding:0;
		width:750px;
	}


	/*
	 * HEADER STYLES
	 */
	.header {
		background:url(/site-ui/aapb-site-sprite.png) repeat-x 0 0;
		position:relative;
		padding:70px 0 10px;
	}

	/* Primary Nav */

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1em;
		font-weight:700;
	}


	/* Secondary NAvigation */
	.secondary-nav {
		background-color:#F0F0F0;
		height:50px;
		position:absolute;
		right:0;
		top:-60px;
		text-align:center;
		width:100%;
		z-index:1;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			float:none;
			margin:0 auto;
		}


/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

	/*Footer Links*/

	/*This Well resizes the column*/
	.well.footer-links {
	  width: 75%;
	}





/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */
	
	/* Image container */
	.blacklight-catalog .document .media-left {
		width:35%;
	}

		dt {
			color:#9f2064;
			float:left;
			width:30%;
		}

		dd {
			float:right;
			width:68%;
		}



/* -------------------- */
/* RECORD ---------- */
/* -------------------- */

/* thumb display image */
.media-thumb img {
  width: 30%;
}


/* -------------------- */
/* COLUMN NAV ---------- */
/* Section specific nav in a column */
/* -------------------- */

/*Column Nav - Section specific nav in a column*/
.column .navbar-default {
  background-color:#FFF;
  border:none;
}

.column .facets .top-panel-heading, 
.column .navbar-header {
	float:none;
}

.column .navbar-default .navbar-collapse, 
.column .navbar-default #facet-panel-collapse, 
.column .navbar-default .navbar-form {
	padding-left:0;
	padding-right:0;
}

.column .navbar-nav {
  width: 100%;
}

	.column .navbar-nav > li {
	  float: none;
	}
        
.view-all-gallery {
        text-align:left;
}
        .view-all-gallery h3 {
                margin: 0;
        }


}/* END: Tablet ---------- */

/* Desktop ---------- */
@media (min-width: 992px) {

	/* INNER */
	.region {
		padding:0;
		width:970px;
	}


	/*Logo*/
	#header-navbar .navbar-brand {
		background-size: auto 100%;
		height: 51px;
		margin-left: 1em;
		margin-top:-17px;
		width: 320px;
	}

	/*Primary NAv*/

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1.125em;
		font-weight:700;
	}

	/* Secondary NAvigation */
	.secondary-nav {
		background-color:transparent;
		width:auto;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			margin:0 auto;
		}
                
.img-circle {
  -webkit-border-radius:50%!important; 
  -moz-border-radius:50%!important; 
  border-radius:50%!important;
  width: 10em;
  padding-right: 1em;
}

/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

/* Row Two --------- */
/* the row */
.row.two {
	text-align:left;
}

/* Row Four --------- */

	/*the list*/
	.collab {
		width:60%;
	}

		.collab .list-group-item,
		.collab .list-group-item.title {
		  width: 33.333%;
		}

		.collab .list-group-item a {
		  height: 70px;
		}


/* --------- */
/* NAVBAR in a Column --------- */
/* Styles only - functionality is in bootstrap-killer.css */
/* --------- */
.column .navbar {
	background-color:#FFF;
	max-width:390px;
	margin-right: 0;
	margin-left: 0;
}

	.column .navbar-nav,
	.column .navbar-nav > li,
	.column .navbar-left,
	.column .navbar-right,
	.column .navbar-header {
		float:none !important;
	}

		.column .container-fluid {
		  padding-left: 0;
		  padding-right: 0;
		}


		.column .navbar-default .navbar-nav > li > a {
			color:#3c439b;
			background-color:#FFF;
		}

			.column .navbar-default .navbar-nav > li > a:hover {
				color:#292A72;
				background-color:#F6F6F6;
			}

		.column .nav {
			/*background-color:#EFEFEF*/
		}

		.column .navbar-collapse {
			padding:0;
		}


/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */
	
	/* Image container */
	.blacklight-catalog .document .media-left {
		width:25%;
	}


/* -------------------- */
/* FEQTURED CAROUSEL ---------- */
/* -------------------- */

.featured-carousel .list-group-item {
	float:left;
	height:300px;
	margin:0 .25%;
	overflow:hidden;
	position:relative;
	width:32.833%;
	text-align:center;
	overflow:hidden;
	position:relative;
}

	/* THe Caption */
.featured-carousel .list-group-item .carousel-caption,
.featured-carousel a.list-group-item .list-group-item-heading {
	color: #FFF;
}

	
	/* The Title/Attribution */
	.featured-carousel .list-group-item .carousel-caption h3,
	.featured-carousel .list-group-item .carousel-caption h4,
	.featured-carousel .list-group-item .carousel-caption p {
		color: #FFF;
	}
	
	/*Orgs caroiusel*/
	#orgs-carousel.featured-carousel .list-group-item {
		min-height:300px;
	}

/* The Image */
.featured-carousel .list-group-item img {
	float:none;
	height:100%;
	width:auto;
	max-width:none;
	-webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover {
		background-color:transparent;
	}


/* THe Caption */
.featured-carousel .list-group-item .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,.85);
	bottom:0;
	display:block;
	left:0;
	padding:5%;
	position:absolute;
	text-align:left;
	width:100%;
	z-index:1;
}
		
	/* THe Caption - Stations */
	#orgs-carousel.featured-carousel .list-group-item .carousel-caption {
		background-color:transparent;
		position:static;
	}

/* Hover: THe Caption */
.featured-carousel .list-group-item:hover .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,1);

}

/*Hover State*/
.featured-carousel .list-group-item:hover h3 {
	text-decoration:underline;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover img {
		-webkit-transform: scale(1.2);
    transform: scale(1.2);
	}

	/* Hiover State - Stations */
	#orgs-carousel.featured-carousel .list-group-item:hover {
		background-color:rgba(255,255,255,.1);
		position:static;
	}

/* THe Caption */
		/* The Title */
		.featured-carousel .list-group-item .carousel-caption h3 {
			font-size: 1.2em;
		}

		.featured-carousel .list-group-item .carousel-caption h4 {
			font-size: 1em;
			margin-bottom:1em;
			text-transform:uppercase;
		}

			.featured-carousel .list-group-item .carousel-caption .description {
			 	display:block;
			 }

		/* The Attribution */
		.featured-carousel .list-group-item .carousel-caption p {
			font-size: 1em;
		}


	


}/* END: Desktop ---------- */

/* Wide Desktop ---------- */
@media (min-width: 1200px) {

	/* INNER */
	.region {
		padding:0;
		width:1170px;
	}

	/*Logo*/
	#header-navbar .navbar-brand {
		height: 61px;
		margin-top: -29px;
  	width: 380px;
	}

}/* END: Wide Desktop ---------- */

