/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

 #footer {
 	background:#eeeeee url(/site-ui/footer-bg.gif) repeat 0 0;
 	padding: 0;
        margin: 0;
 	text-align:center;
 }

	/* Rows! --------- */
	#footer .row {
		padding:1em 0;
	}

	/*Footer list item(s)*/
	#footer .list-group .list-group-item {
		background-color:transparent;
		border:0;
		border-radius:0;
		margin:0;
		padding:0;
	}

  #footer a:focus {
    outline: #fff 3px solid;
  }


	/* Row One --------- */

	/* logo */
	.footer-logo {
		background:url(/site-ui/logo.png) no-repeat center 0;
		background-size:100% auto;
		display:inline-block;
		height:41px;
		margin:0 auto;
		width:250px;
		text-indent:-9999em;
	}


	/* Row Two --------- */

	/*Footer Links*/

	/*This Well resizes the column*/
	.well.footer-links {
		background-color: transparent;
	  border: none;
	  margin: 0 auto;
	  padding: 0;
	  width: 90%;
	}

	/* Lists(s) */
	.row.two h3 {
		font-size:1.2em;
		margin:0;
	}


	.footer-links .panel {
		float:left;
		margin:1%;
		width:48%;
	}

		.footer-links .list-group-item {
			border:none;
			padding:0;
		}


	/* LIST GROUP */


		/*the list*/
		.row.two .list-group {
			margin:.5em 0 1em;
		}
			/*the link*/
			.row.two .list-group-item a {
				color:#666;
			}
				/*hover*/
				.row.two .list-group-item a:hover {
					color:#9f2064;
				}

                /*Social Links in the Footer */

                ul.social {
                        display:inline-block;
                        margin:0 auto;
                        width:auto;
                }

                ul.social li {
                        float:left;
                        height:32px;
                        width:32px;
                        margin-right:1em;
                }

                ul.social a {
                        background-image:url(/site-ui/aapb-site-sprite.png);
                        background-repeat:no-repeat;
                        background-position:0 -350px;
                        background-size: 512px auto;
                        display:block;
                        height:32px;
                        opacity:.8;
                        text-indent:-9999em;
                        width:32px;
                }

                ul.social .twitter a {
                        background-position:-80px -350px;

                }

                ul.social .facebook a {
                        background-position:-40px -350px;
                }

                ul.social a:hover {
                        opacity:1;
                }



/* Row THree --------- */

/*the buttons*/
.row.three .btn-group .btn-default {
	background-color:transparent;
	color:#666;
	text-transform:none;
}



/* Row Four --------- */

/*the list*/
.collab {
	display: inline-block;
	margin:0 auto;
	width:100%;
}
	/*list item*/
	.collab .list-group-item {
		float:left;
		width:30%;
	}

		/*list item - title*/
		.collab .list-group-item.title {
			float:left;
			width:40%;
		}

		/*link*/
		.collab .list-group-item a {
			background-repeat:no-repeat;
			background-size:auto 100%;
			display:block;
			height:50px;
			width:100%;
			text-indent:-9999em;
		}
			/*link-loc*/
			.collab .list-group-item.loc a {
				background-image:url(/site-ui/footer-loc.png);
				background-position:right 0;

			}
			/*link-wgbh*/
			.collab .list-group-item.wgbh a {
				background-image:url(/site-ui/footer-wgbh.png);
				background-position:left 0;
			}


	.collab h3 {
		font-size:.9em;
		margin:0 2em;
	}

/* MISC Elements */

hr {
    border: 0;
    height: 1px;
    background: #999;
}


/* REGION - THis is an element meant to contain other elements and center align them according to the design */
.region {
	margin:0 auto;
	padding:0 10px;
}

