/* Mobile ---------- */
@media (max-width: 767px) {
  .transcript-div {
    margin-top: 1em;
  }
  .transcript-search-input {
    max-width: 200px;
    margin-left: 40px;
  }

  .transcript-search {
    width: 235px !important;
    button {
      margin: 0 1px !important;
    }
  }
}
