/* Tablet ---------- */
@media (min-width: 768px) {

	/* INNER */
	.region,
	.sticky-well.affix .btn-group {
		padding:0;
		width:750px;
	}


	/*
	 * HEADER STYLES
	 */
	.header {
		background:url(/site-ui/aapb-site-sprite.png) repeat-x 0 0;
		position:relative;
		padding:65px 0 10px;
	}

	/* Primary Nav */

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1em;
		font-weight:700;
	}

  .navbar-header {
    margin-top: 1em;
  }

  #homenav {
    margin-top: 1.5em;
  }

	/* Secondary NAvigation */
	.secondary-nav {
		height:50px;
		position:absolute;
		right:0;
		top:-60px;
		text-align:center;
		width:100%;
		z-index:1;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			float:right;
			margin:0 auto;
		}

		/* Banner Tagline */

		#banner-text {
		  font-size: 0.60em;
		}

/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

	/*Footer Links*/

	/*This Well resizes the column*/
	.well.footer-links {
	  width: 75%;
	}





/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */

	/* Image container */
	.blacklight-catalog .document .media-left {
		width:35%;
	}

		dt {
			color:#9f2064;
			float:left;
			width:30%;
		}

		dd {
			float:right;
			width:68%;
		}



/* -------------------- */
/* RECORD ---------- */
/* -------------------- */

/* thumb display image */
.media-thumb img {
  width: 30%;
}


/* -------------------- */
/* COLUMN NAV ---------- */
/* Section specific nav in a column */
/* -------------------- */

/*Column Nav - Section specific nav in a column*/
.column .navbar-default {
  background-color:#FFF;
  border:none;
}

.column .facets .top-panel-heading,
.column .navbar-header {
	float:none;
}

.column .navbar-default .navbar-collapse,
.column .navbar-default #facet-panel-collapse,
.column .navbar-default .navbar-form {
	padding-left:0;
	padding-right:0;
}

.column .navbar-nav {
  width: 100%;
}

	.column .navbar-nav > li {
	  float: none;
	}

.view-all-gallery {
	text-align:left;
}

.view-all-gallery h3 {
	margin: 0;
}

.video-js-fix-small {
  margin: 0 auto;
  float: none;
}

/* Catalog Transcript */
.transcript-div {
  margin-top: 1em;
}

}/* END: Tablet ---------- */
