

/* Desktop ---------- */
@media (min-width: 992px) {

	/* INNER */
	.region {
		padding:0;
		width:970px;
	}


	/*Logo*/
	#header-navbar .navbar-brand {
		background-size: auto 100%;
		height: 51px;
		margin-left: 1em;
		margin-top:-17px;
		width: 320px;
	}

	/*Primary NAv*/

	.primary-nav.navbar-nav > li > a {
		color:#3c439b;
		font-size:1.125em;
		font-weight:700;
	}

  #homenav {
    margin-top: 0;
  }

	/* Secondary NAvigation */
	.secondary-nav {
		background-color:transparent;
		width:auto;
	}

		.secondary-nav .navbar-nav {
			display:inline-block;
			margin:0 auto;
		}

.img-circle {
  -webkit-border-radius:50%!important;
  -moz-border-radius:50%!important;
  border-radius:50%!important;
  width: 10em;
  padding-right: 1em;
}

/* --------- */
/* FOOTER STYLES --------- */
/* --------- */

/* Row Two --------- */
/* the row */
.row.two {
	text-align:left;
}

/* Row Four --------- */

	/*the list*/
	.collab {
		width:60%;
	}

		.collab .list-group-item,
		.collab .list-group-item.title {
		  width: 33.333%;
		}

		.collab .list-group-item a {
		  height: 70px;
		}


/* --------- */
/* NAVBAR in a Column --------- */
/* Styles only - functionality is in bootstrap-killer.css */
/* --------- */
.column .navbar {
	background-color:#FFF;
	max-width:390px;
	margin-right: 0;
	margin-left: 0;
}

	.column .navbar-nav,
	.column .navbar-nav > li,
	.column .navbar-left,
	.column .navbar-right,
	.column .navbar-header {
		float:none !important;
	}

		.column .container-fluid {
		  padding-left: 0;
		  padding-right: 0;
		}


		.column .navbar-default .navbar-nav > li > a {
			color:#3c439b;
			background-color:#FFF;
			margin:2px;
		}

		.column .navbar-default .navbar-nav > li > a:hover {
			color:#292A72;
			background-color:#F6F6F6;
		}

		.column .nav {
			/*background-color:#EFEFEF*/
		}

		.column .navbar-collapse {
			padding:0;
		}

		.navbar-header {
			margin-top: 0;
		}

/* -------------------- */
/* CATALOG ---------- */
/* -------------------- */

/* Image container */
.blacklight-catalog .document .media-left {
	width:25%;
}


/* -------------------- */
/* FEQTURED CAROUSEL ---------- */
/* -------------------- */

.featured-carousel .list-group-item {
	float:left;
	height:300px;
	margin:0 .25%;
	overflow:hidden;
	position:relative;
	width:32.833%;
	text-align:center;
	overflow:hidden;
	position:relative;
}

	/* THe Caption */
.featured-carousel .list-group-item .carousel-caption,
.featured-carousel a.list-group-item .list-group-item-heading {
	color: #FFF;
}


	/* The Title/Attribution */
	.featured-carousel .list-group-item .carousel-caption h3,
	.featured-carousel .list-group-item .carousel-caption h4,
	.featured-carousel .list-group-item .carousel-caption p {
		color: #FFF;
	}

	/*Orgs caroiusel*/
	#orgs-carousel.featured-carousel .list-group-item {
		min-height:300px;
	}

/* The Image */
.featured-carousel .list-group-item img {
	float:none;
	height:100%;
	width:auto;
	max-width:none;
	-webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover {
		background-color:transparent;
	}


/* THe Caption */
.featured-carousel .list-group-item .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,.85);
	bottom:0;
	display:block;
	left:0;
	padding:5%;
	position:absolute;
	text-align:left;
	width:100%;
	z-index:1;
}

	/* THe Caption - Stations */
	#orgs-carousel.featured-carousel .list-group-item .carousel-caption {
		background-color:transparent;
		position:static;
	}

/* Hover: THe Caption */
.featured-carousel .list-group-item:hover .carousel-caption {
	background-color:#171028;
	background-color:rgba(23,16,40,1);

}

/*Hover State*/
.featured-carousel .list-group-item:hover h3 {
	text-decoration:underline;
}

	/* Hover State */
	.featured-carousel .list-group-item:hover img {
		-webkit-transform: scale(1.2);
    transform: scale(1.2);
	}

	/* Hiover State - Stations */
	#orgs-carousel.featured-carousel .list-group-item:hover {
		background-color:rgba(255,255,255,.1);
		position:static;
	}

/* THe Caption */
		/* The Title */
		.featured-carousel .list-group-item .carousel-caption h3 {
			font-size: 1.2em;
		}

		.featured-carousel .list-group-item .carousel-caption h4 {
			font-size: 1em;
			margin-bottom:1em;
			text-transform:uppercase;
		}

			.featured-carousel .list-group-item .carousel-caption .description {
			 	display:block;
			 }

		/* The Attribution */
		.featured-carousel .list-group-item .carousel-caption p {
			font-size: 1em;
		}

/* Banner Tagline */

#banner-text {
  font-size: 0.80em;
}

.video-js-fix-small {
  margin: 0;
}

/* Catalog Transcript */
.transcript-div {
  margin-top: 0em;
}

.transcript-div-bootstrap {
	margin-top: 1em;
}

}/* END: Desktop ---------- */
