/* --------- */
/* NAVIGATION STYLES --------- */
/* --------- */

.header .navbar {
	background-color:#FFF;
	border:none;
	border-radius: 0;
}

.navbar-right {
	margin-top: 1.5em;
}

/*Main Nav*/
 .main-nav {
 	margin-bottom:0;
 }

/*Secondary Nav*/
.secondary-navbar {
	background-color:#ececec;
	min-height:32px !important;
}

	#header-navbar .secondary-nav .navbar-nav > li > a {
		color:#999;
		font-size:0.875em;
		font-weight:400;
		line-height:50px;
		padding-bottom:0;
		padding-top:0;
	}

/*Logo*/
#header-navbar .navbar-brand {
	background: transparent url(/site-ui/logo.png) no-repeat 0 0;
	width: 225px;
	height: 40px;
	background-size: 100% auto;
	margin-left:1em;
	margin-right: 0;
	margin-top:7px;
	margin-bottom:7px;
	padding:0;
	text-indent:-9999em;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}

.nav-pills {
	li {
		a:focus {
		  background-color: rgba(24, 18, 40, 0.8);
		  outline-color: #fff;
			outline-style: solid;
			outline-width: 2px;
		}
	}
}

.header-fixit {
	background: transparent url(https://s3.amazonaws.com/americanarchive.org/org-logos/fixit_logo_sml.jpg) no-repeat 0 0;
	width: 253px;
	height: 51px;
	background-size: 100% auto;
	margin-left:1em;
	margin-right: 0;
	margin-top:7px;
	margin-bottom:7px;
	padding:0;
	text-indent:-9999em;
}
