/* --------- */
/* NAVIGATION STYLES --------- */
/* --------- */

.header .navbar {
	background-color:#FFF;
	border:none;
	border-radius: 0;
}



/*Main Nav*/
 .main-nav {
 	margin-bottom:0;
 }

/*Secondary Nav*/
.secondary-navbar {
	background-color:#ececec;
	min-height:32px !important;
}

	#header-navbar .secondary-nav .navbar-nav > li > a {
		color:#999;
		font-size:0.875em;
		font-weight:400;
		line-height:50px;
		padding-bottom:0;
		padding-top:0;
	}

/*Logo*/
#header-navbar .navbar-brand {
	background: transparent url(/site-ui/logo.png) no-repeat 0 0;
	width: 225px;
	height: 40px;
	background-size: 100% auto;
	margin-left:1em;
	margin-right: 0;
	margin-top:7px;
	padding:0;
	text-indent:-9999em;
}

a:focus.navbar-brand {
  border-color: rgba(82,168,236,.8);
  outline: 1;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.primary-nav {
	a:focus {
	  border-color: rgba(82,168,236,.8);
	  outline: 1;
	  outline: thin dotted \9;
	  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
	  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
	}
}

a:focus.dropdown-toggle {
  border-color: rgba(82,168,236,.8);
  outline: 1;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.secondary-nav {
	a:focus {
	  border-color: rgba(82,168,236,.8);
	  outline: 1;
	  outline: thin dotted \9;
	  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
	  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
	}
}

.nav-pills {
	li {
		a:focus {
		  background-color: rgba(24, 18, 40, 0.8);
		  outline-color: #fff;
			outline-style: solid;
			outline-width: 2px;
		}
	}
}
