/* -------------------- */
/* Player ------------- */
/* -------------------- */

.vjs-chapters-button {
  .vjs-menu {
    .vjs-menu-content {
      width: 175px !important;
      margin-left: -70px;
      .vjs-menu-item {
        text-transform: none;
      }
    }
    li.vjs-menu-title {
        font-size: 1.2em;
    }
  }
}

.playlist-pull-left {
  text-align: left;
  line-height: 36px;
}

.playlist-pull-right {
  text-align: right;
  line-height: 36px;
}

.player-button {
  background-color: rgb(101, 48, 144);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Roboto, Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-size: 10px;
  height: 5vh;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.skip-button {
  width: 4vw;
}

.embed-button {
  width: 6vw;
}

#timecode-embed {
  min-width: 20vw;
  width: 20vw;
  max-width: 20vw;
  min-height: 10vh;
  height: 10vh;
  max-height: 10vh;
}

#embed-controls label, input {
  display: inline;
  font-size: 10px;
}

#copy-button {
  height: 3vh;
}

#embed-close-btn {
  pointer-events: auto;
  background-color: buttonface;
  font-weight: bold;
  width: 3vh;
  height: 3vh;
  background-color: rgb(101, 48, 144);
  color: #fff;
  margin: 0 2.5px;
  border: none;
  /*position: absolute;*/
  padding: 0;
  /*right: 0;
  top: 0;*/
  /*margin-right: 2.1%;
  margin-top: 1.4%;*/
  z-index: 2;
}

#timecode-embed-container {
  margin-top: 8px;
  margin-bottom: 10px;
}